 @media screen and (min-width:1279px){
body 
				{
				background-color:#F1F1F1 !important
				}
			div#header
				{
				background-color:#00A3D9;
				}

			div#navigation 
				{
				background-color:#F1F1F1;
				}

			div#navigationResizeBar 
				{
				display:none;
				}

			div#contentBody 
				{
				background-color:#F1F1F1;
				margin-left:-5px;
				}
			
			.tabs-panel-search
				{
				border:0px;
				background-color:#eee;
				padding:5px
				}

			.tabs-panel-content.searchable
				{
				border:0px;
				}
			#toc
				{
				border:0px;
				}
			#contentBody
				{
				-webkit-border-radius: 0 0 0 0;
				-moz-border-radius: 0 0 0 0;
				border-radius: 0 0 0 0;
				}

			html.left-layout #contentBody
				{
				-webkit-border-radius: 0px 0 0 0;
				-moz-border-radius: 0px 0 0 0;
				border-radius: 0px 0 0 0;
				}
			
			#contentBodyInner
				{
				background-color: #FFF;
				border-top: 0;
				border-right: 0;
				border-left: 0;
				top: 50px;
				}				
			.button 
				{
				height:40px;
				width:40px;
				}			
			.search-bar
				{
				-webkit-border-radius: 15px;
				-moz-border-radius: 15px;
				border-radius: 15px;
				-webkit-box-shadow: 0px 0px;
				-moz-box-shadow: 0px 0px;
				box-shadow: 0px 0px;
				}
			.tabs-nav li.tabs-nav-inactive
				{
				-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
				-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
				box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
				}
			.tabs-panel
				{
				top: 50px;
				}
			.tabs-nav li
				{
				height:35px;
				margin:15px 0 0 0;
				}
			.tabs-nav li#TocTab
				{
				margin-left:10px;
				width:120px;
				}
			.tabs-nav li#GlossaryTab
				{
				label: Glossary;
				width:110px;
				}

			.tabs-nav li#IndexTab
				{
				label: Index;
				width:90px;
				
				}
			.tabs-nav li.tabs-nav-active
				{
				-webkit-border-radius: 5px 5px 0 0;
				-moz-border-radius: 5px 5px 0 0;
				border-radius:5px 5px 0 0;
				margin-top:15px;
				}
			.tabs-nav li.tabs-nav-inactive
				{
				margin-top:15px;
				}
				
}
.hide-extras.active #navigation[role="complementary"]
{
   width: 35%;
}

.active #contentBody[role="main"]
{
   margin-right: -35%;
}