/*<meta />*/

@media only screen and (max-width: 767px)
{
	.search-bar
	{
		width: 100%;
	}

	.buttons._Skins_TopicToolBar
	{
		display: none;
	}

	._Skins_TopicToolBar .button
	{
		
	}

	._Skins_TopicToolBar .button.collapse-all-button
	{
		
	}

	._Skins_TopicToolBar .button.current-topic-index-button
	{
		
	}

	._Skins_TopicToolBar .button.expand-all-button
	{
		
	}

	._Skins_TopicToolBar .button.next-topic-button
	{
		
	}

	._Skins_TopicToolBar .button.pdf-button-button
	{
		background: #ececec url('Images/pdf_icon_1.png') no-repeat center center;
		background: url('Images/pdf_icon_1.png') no-repeat center center, -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: url('Images/pdf_icon_1.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: url('Images/pdf_icon_1.png') no-repeat center center, -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: url('Images/pdf_icon_1.png') no-repeat center center, -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: url('Images/pdf_icon_1.png') no-repeat center center, -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: url('Images/pdf_icon_1.png') no-repeat center center, linear-gradient(top, #ffffff 0%,#ececec 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/pdf_icon_1.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
	}

	._Skins_TopicToolBar .button.previous-topic-button
	{
		
	}

	._Skins_TopicToolBar .button.print-button
	{
		
	}

	._Skins_TopicToolBar .button.remove-highlight-button
	{
		
	}

	._Skins_TopicToolBar .button-separator
	{
		
	}

	ul.menu._Skins_SideMenuFixed
	{
		display: none;
	}

	ul.menu._Skins_SideMenuFixed a
	{
		
	}

	ul.menu._Skins_SideMenuFixed li > a
	{
		
	}

	ul.menu._Skins_SideMenuFixed ul > li > a
	{
		
	}

	ul.menu._Skins_SideMenuFixed ul ul > li > a
	{
		
	}

	ul.menu._Skins_SideMenuFixed ul ul ul > li > a
	{
		
	}

	ul.menu._Skins_SideMenuFixed ul ul ul ul > li > a
	{
		
	}

	ul.menu._Skins_SideMenuFixed li > a.selected
	{
		
	}

	ul.menu._Skins_SideMenuFixed li > a:hover
	{
		
	}

	ul.menu._Skins_SideMenuFixed ul > li > a:hover
	{
		background-repeat: repeat;
	}

	ul.menu._Skins_SideMenuFixed ul ul > li > a:hover
	{
		background-repeat: repeat;
	}

	ul.menu._Skins_SideMenuFixed ul ul ul > li > a:hover
	{
		background-repeat: repeat;
	}

	ul.menu._Skins_SideMenuFixed ul ul ul ul > li > a:hover
	{
		background-repeat: repeat;
	}

	ul.menu._Skins_SideMenuFixed li > a.selected:hover
	{
		
	}

	.search-bar._Skins_HomeSearchBar
	{
		width: 100%;
	}

	._Skins_HomeSearchBar .search-field
	{
		
	}

	._Skins_HomeSearchBar .search-filter
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	._Skins_HomeSearchBar .search-submit
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	._Skins_HomeSearchBar .search-filter-content
	{
		
	}

	._Skins_HomeSearchBar .search-filter.open
	{
		
	}

	._Skins_HomeSearchBar .search-filter.selected
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	._Skins_HomeSearchBar .search-filter-content ul li:hover
	{
		
	}

	._Skins_HomeSearchBar .search-field::-webkit-input-placeholder
	{
		
	}

	._Skins_HomeSearchBar .search-field::-moz-placeholder
	{
		
	}

	._Skins_HomeSearchBar
	{
		
	}

	._Skins_HomeSearchBar
	{
		
	}
}

