/*<meta />*/

/*
   This first section imports the fonts from the VOLTMX servers so that the output properly uses the Karbon fonts.
*/

@font-face {
  font-family: 'Karbon-Regular';
  src: url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/karbon-regular.eot");
  src: url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/karbon-regular.eot?#iefix") format("embedded-opentype"), url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/karbon-regular.woff") format("woff"), url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/karbon-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; } 

@font-face {
  font-family: 'karbon-medium';
  src: url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/karbon-medium.eot");
  src: url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/karbon-medium.eot?#iefix") format("embedded-opentype"), url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/karbon-medium.woff") format("woff"), url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/karbon-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; } 

@font-face {
  font-family: 'Karbon-Semibold';
  src: url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/karbon-semibold.eot");
  src: url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/karbon-semibold.eot?#iefix") format("embedded-opentype"), url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/karbon-semibold.woff") format("woff"), url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/karbon-semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; } 

@font-face {
  font-family: 'Karbon-Light';
  src: url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/karbon-light.eot");
  src: url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/karbon-light.eot?#iefix") format("embedded-opentype"), url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/karbon-light.woff") format("woff"), url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/karbon-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; } 

@font-face {
  font-family: 'LucidaGrande';
  src: url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/lucidagrande.eot");
  src: url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/lucidagrande.eot?#iefix") format("embedded-opentype"), url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/lucidagrande.woff") format("woff"), url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/lucidagrande.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; } 

@font-face {
  font-family: 'FrutigerNext_LT_Regular';
  src: url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/FrutigerNext_LT_Regular.eot");
  src: url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/FrutigerNext_LT_Regular.eot?#iefix") format("embedded-opentype"), url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/FrutigerNext_LT_Regular.woff") format("woff"), url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/FrutigerNext_LT_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; } 

@font-face {
  font-family: 'FrutigernextLTBold';
  src: url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/frutigernext_lt_bold.eot");
  src: url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/frutigernext_lt_bold.eot?#iefix") format("embedded-opentype"), url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/frutigernext_lt_bold.woff") format("woff"), url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/frutigernext_lt_bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; } 

@font-face {
  font-family: 'Sourcesanspro-Regular';
  src: url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/sourcesanspro-regular.eot");
  src: url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/sourcesanspro-regular.woff") format("woff"), url("http://cloud.voltmx.com/sites/all/themes/voltmx_cloud/assets/fonts/sourcesanspro-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; } 

/*
   This declaration imports a custom font from Google's font API.
   This font is used i the Raleway font (called above) isn't available for some reason.
*/

@import url('http://fonts.googleapis.com/css?family=Raleway:400_300_600?family=Raleway:400_300_600');

/*
   This declaration is important because it ensures the extra style sheet gets included in the output
   This style sheet is called by a JavaScript that is in the Skin file (HTML5-dgt) and makes it so
   you don't have to do any post-processing to the project to get the non-standard skin customizations.
*/

@import url('dgt-output.css');

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

/* Note that the body tag calls the Karbon font first, then the Google Raleway font, then uses a default system font */

body
{
	font-family: 'Karbon-Regular', 'Raleway', Verdana, Tahoma, sans-serif;
	font-weight: 300;
	font-size: 11pt;
	line-height: 1.6;
	color: #484848;
}

p
{
	margin-top: 0pt;
	margin-bottom: 12pt;
	widows: 4;
	orphans: 4;
	mc-hyphenate: never;
}

li
{
	margin-bottom: 12pt;
	mc-hyphenate: never;
}

td
{
	font-size: 10pt;
}

a.expandspot
{
	color: #008000;
	cursor: hand;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
}

span.expandtext
{
	color: #000000;
	font-weight: normal;
	font-style: normal;
}

a.dropspot
{
	cursor: hand;
	font-weight: bold;
	font-style: normal;
	color: #a82384;
	text-decoration: none none none;
}

a.glossterm
{
	color: #800000;
	cursor: hand;
	font-style: italic;
	text-decoration: none none none;
}

span.glosstext
{
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}

ol,
ul,
ol ol,
ol ul,
ul ol,
ul ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

p.Tip
{
	margin-right: 18pt;
	margin-bottom: 4.5pt;
	margin-left: 9pt;
	margin-top: 8pt;
	mc-next-tag: P;
	color: #000000;
	background-color: #e6e6e6;
}

MadCap|conceptLink.conceptLink_1
{
	mc-popup-type: menu;
	mc-display-type: button;
	mc-label: See Also;
}

MadCap|expandingHead.expandspot
{
	color: #008000;
	cursor: hand;
	font-weight: bold;
	font-style: italic;
	text-decoration: none none none;
}

MadCap|dropDownHotspot.dropspot
{
	cursor: hand;
	font-weight: bold;
	font-style: normal;
	color: #a82384;
	text-decoration: none none none;
}

MadCap|expandingBody.expandtext
{
	color: #000000;
	font-weight: normal;
	font-style: normal;
}

MadCap|glossaryTerm.glossterm
{
	color: #800000;
	cursor: hand;
	font-style: italic;
	text-decoration: none none none;
}

MadCap|expandingBody.glossterm
{
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}

span.span_5
{
	color: #0000ff;
}

td
{
	border-bottom: solid 1px;
	border-left: solid 1px;
	border-right: solid 1px;
	border-top: solid 1px;
	padding-left: 5px;
	mc-hyphenate: never;
	page-break-inside: avoid;
	font: arial;
}

p.toptable
{
	margin-top: 0pt;
	font-size: 9pt;
	margin-bottom: 0pt;
}

p.Nomargin
{
	margin-bottom: 0pt;
}

MadCap|dropDownHead
{
	font-size: 13pt;
	color: #314e64;
}

MadCap|breadcrumbsProxy
{
	mc-breadcrumbs-count: 6;
	border-bottom-color: #ccdae9;
	font-size: 9pt;
}

h1
{
	font-weight: bold;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 12pt;
	mc-auto-number-offset: 10px;
	mc-auto-number-format: ;
	margin-top: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	page-break-after: avoid;
	color: #006097;
	font-size: 20pt;
}

h2
{
	font-weight: bold;
	margin-bottom: 12pt;
	border-bottom-width: 0px;
	border-top-width: 0px;
	margin-top: 12pt;
	page-break-after: avoid;
	font-size: 14pt;
	background-image: none;
	color: #ffffff;
	padding: 5px;
	background-color: #006097;
}

h3
{
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 12pt;
	page-break-after: avoid;
	widows: 3;
	orphans: 3;
	font-size: 12pt;
	padding: 5px;
	background-color: #586977;
	color: #edf2f8;
}

p.events
{
	margin-top: 0pt;
	margin-bottom: 12pt;
	/* 
	font-size: 10pt;
	*/
	font-family: monospace;
}

p.image
{
	margin-top: 0pt;
	font-size: 10pt;
	text-align: left;
	margin-bottom: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-width: 0px;
}

p.copyright
{
	margin-top: 0pt;
	margin-bottom: 12pt;
	font-weight: bold;
	font-style: normal;
	text-align: right;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	padding-top: 8px;
	color: #af2026;
}

p.proc_subheading
{
	margin-bottom: 12pt;
	font-weight: bold;
	font-style: normal;
	margin-top: 24px;
}

h4
{
	margin-top: 12.12px;
	margin-bottom: 12.12px;
	page-break-after: avoid;
	font-size: 12pt;
	padding: 5px;
	background-color: #ccdae9;
	color: #35414c;
}

ol
{
	padding-bottom: 10px;
}

table.testtable
{
	background-color: #dcdcdc;
}

h5
{
	page-break-after: avoid;
	padding: 5px;
	color: #586977;
}

p.code
{
	font-family: 'Courier New';
	background-color: #dcdcdc;
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #dcdcdc;
	margin-bottom: 10px;
}

p.code1
{
	font-family: 'Courier New';
	background-color: #dcdcdc;
	margin-left: 7mm;
	margin-bottom: 10px;
}

p.code2
{
	font-family: 'Courier New';
	background-color: #dcdcdc;
	margin-left: 14mm;
	margin-bottom: 10px;
}

p.NormalTerm
{
	font-weight: bold;
	font-style: normal;
	page-break-after: avoid;
}

p.NormalTerm2
{
	font-weight: bold;
	font-style: normal;
	margin-left: 7mm;
	page-break-after: avoid;
}

p.NormalTerm2Continued
{
	margin-left: 14mm;
	page-break-before: avoid;
}

p.NormalTerm3
{
	margin-left: 14mm;
	font-weight: bold;
	font-style: normal;
	page-break-after: avoid;
}

p.NormalTerm3Continued
{
	margin-left: 21mm;
	page-break-before: avoid;
}

p.NormalTermContinued
{
	margin-left: 7mm;
	page-break-before: avoid;
}

li.Bullet1
{
	margin-left: 7mm;
	text-indent: 0mm;
}

li.Bullet2
{
	margin-left: 14mm;
}

th
{
	mc-hyphenate: never;
}

code.codefirst
{
	background-color: #dcdcdc;
}

td.header_text
{
	border: solid;
	border-bottom: solid 0px;
	border-left: solid 0px;
	border-right: solid 0px;
	border-top: solid 0px;
	color: #000000;
}

caption
{
	font-size: 10pt;
	font-weight: bold;
}

h6
{
	page-break-after: avoid;
}

p.forcode
{
	font-family: monospace;
	margin-bottom: 0;
	margin-top: 0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f1f1f1;
	margin-right: 0;
}

td.testtd
{
	background-color: #dcdcdc;
	font-family: monospace;
	top: 0px;
	border-left-color: #a9a9a9;
	border-right-color: #a9a9a9;
	border-top-color: #a9a9a9;
}

/* 
   This next section defines how content will look when the PDF file is generated
   as well as when a user clicks the PRINT button from the browser  
*/

@media print
{
	h1
	{
		mc-page-number-format: decimal;
		mc-page-number-start-value: 1;
		mc-auto-number-format: 'GH:{n+}.  ';
		font-size: 16pt;
		color: #314e64;
	}

	h2
	{
		mc-page-number-format: decimal;
		mc-page-number-start-value: 1;
		mc-auto-number-offset: 10px;
		mc-auto-number-format: 'GH:{n}.{n+}  ';
		mc-heading-level: 2;
		font-size: 14pt;
		background-color: #3182b1;
		background-image: none;
		color: #ffffff;
	}

	h3
	{
		mc-auto-number-format: 'GH:{n}.{n}.{n+}  ';
		mc-heading-level: 0;
		font-size: 12pt;
		color: #ffffff;
		background-color: #3182b1;
	}

	h4
	{
		mc-auto-number-offset: 10px;
		mc-auto-number-format: 'GH:{n}.{n}.{n}.{n+}  ';
		mc-heading-level: 0;
		font-size: 10pt;
		color: #35414C;
	}

	p.Note
	{
		
	}

	MadCap|variable
	{
		
	}

	p
	{
		widows: 4;
		orphans: 4;
	}

	span.RegTextInCode
	{
		color: #800080;
		font-size: 10pt;
	}

	code.codefirst
	{
		font-size: 11pt;
	}

	p.forcode
	{
		font-size: 11pt;
	}

	MadCap|dropDownHead
	{
		font-size: 11pt;
		color: #314e64;
	}

	li
	{
		margin-top: 6pt;
	}

	h5
	{
		mc-heading-level: 0;
		color: #000000;
	}

	h6
	{
		mc-heading-level: 0;
	}

	table
	{
		
	}

	MadCap|dropDownBody
	{
		font-size: 10pt;
	}

	p.HeaderStyle
	{
		font-size: 11pt;
		margin-bottom: 0pt;
		font-weight: bold;
		color: #a9a9a9;
	}
}

/* 
While this next style is for printed output, it appears in the normal section so that you can always see it in the list of available styles in Flare (press F12 to see the style window, if you don't already see it.) Because this style starts with a period, it is a generic class, and can be applied to ANY element, though you should only apply it to block-level elements
*/

.pagebreak
{
	page-break-before: always;
}

/* 
   Now we are back in the main section of the stylesheet, so these following commands are for web and print  
*/

strong.GUI_Items
{
	font-weight: bold;
}

i.new_terms
{
	
}

code.file_names
{
	font-size: 12pt;
}

span.RegTextInCode
{
	color: #800080;
}

p.ListIntro
{
	margin-top: 0pt;
	margin-bottom: 12pt;
	page-break-after: avoid;
	page-break-inside: avoid;
	page-break-before: avoid;
}

MadCap|dropDownBody
{
	
}

code
{
	font-size: 12pt;
}

p.Parameter
{
	font-weight: bold;
	font-style: normal;
	margin-left: 7mm;
	page-break-after: avoid;
	font-size: 11pt;
	margin-bottom: 8pt;
}

pre
{
	background-color: #f1f1f1;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #ddd;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #ddd;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #ddd;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #ddd;
	mc-hyphenate: never;
	white-space: pre-wrap;
}

a
{
	color: #483d8b;
}

MadCap|xref
{
	color: #191970;
}

p.Parametercontinued
{
	margin-left: 7mm;
}

p.Note
{
	background-color: #ccdae9;
	padding: 10px;
	border: 1px solid #aaa;
	border-left: 5px solid #0a9c4a;
	mc-auto-number-format: '{b}{i}{color #0a9c4a}Note: {/color}{/i}{/b}';
}

p.Note1
{
	background-color: #ccdae9;
	padding: 10px;
	border: 1px solid #aaa;
	border-left: 5px solid #0a9c4a;
	mc-auto-number-format: '{b}{i}{color #0a9c4a}Note: {/color}{/i}{/b}';
	margin-left: 11mm;
}

p.Note2
{
	background-color: #ccdae9;
	padding: 10px;
	border: 1px solid #aaa;
	border-left: 5px solid #0a9c4a;
	mc-auto-number-format: '{b}{i}{color #0a9c4a}Note: {/color}{/i}{/b}';
	margin-left: 14mm;
}

p.Important
{
	background-color: #ccdae9;
	padding: 10px;
	border: 1px solid #aaa;
	border-left: 5px solid #ff6600;
	mc-auto-number-format: '{b}{i}{color #ff6600}Important: {/color}{/i}{/b}';
}

p.Important1
{
	background-color: #ccdae9;
	padding: 10px;
	border: 1px solid #aaa;
	border-left: 5px solid #ff6600;
	mc-auto-number-format: '{b}{i}{color #ff6600}Important: {/color}{/i}{/b}';
	margin-left: 11mm;
}

p.Important2
{
	background-color: #ccdae9;
	padding: 10px;
	border: 1px solid #aaa;
	border-left: 5px solid #ff6600;
	mc-auto-number-format: '{b}{i}{color #ff6600}Important: {/color}{/i}{/b}';
	margin-left: 14mm;
}

a:link
{
	color: #3300cc;
}

a:visited,
a:hover,
a:active
{
	color: #a82384;
}

p.HeaderStyle
{
	margin-top: 0pt;
	margin-bottom: 12pt;
	widows: 4;
	orphans: 4;
	mc-hyphenate: never;
	color: #484848;
}

MadCap|xref.RevisionReference
{
	mc-format: ;
}

MadCap|xref.ReviewReason
{
	mc-format: '{u}{paratext}{/u}';
}

html.titlescreen
{
	mc-master-page: url('../MasterPages/for_title_screens.flmsp');
}

table
{
	border: 1.5pt solid #ccc;
	align: center;
	margin-left: 0px;
	font-family: 'FrutigerNext_LT_Regular', Verdana, sans-serif;
	border-collapse: collapse;
}

table tr,
table td
{
	border: 1px solid #fff;
	border-collapse: collapse;
	border-bottom: 1px solid #bbb;
	font-family: 'Sourcesanspro-Regular', 'Raleway', Verdana, sans-serif;
	padding: 5px 5px 5px 5px;
	vertical-align: text-top;
}

table th
{
	border-collapse: collapse;
	background-color: #f2f2f2;
	margin: 0;
	font-size: 16px;
	line-height: 1.25;
	color: #35414c;
	border: 1pt solid #f2f2f2;
	border-bottom: 1px solid #bbb;
	font-family: 'FrutigerNext_LT_Regular', 'Raleway', 'Verdana', sans-serif !important;
	font-weight: normal;
	padding: 5px;
}

div.indent
{
	margin-left: 20px;
}

p.TitlePageHeading
{
	color: #005386;
	font-size: 36pt;
	text-align: center;
	line-height: normal;
}

p.TitlePageSubHeading
{
	color: #005386;
	font-size: 24pt;
	line-height: normal;
	text-align: center;
}

#pageFrame
{
	max-width: 1000px;
	border: 1px solid #999;
	background-color: #fff;
	padding: 10px;
	margin: 10px;
}

div.titlehead
{
	background: #00A3D9;
	height: 200px;
	width: 103%;
	padding: 0;
	margin: -10px;
}

p.pdf
{
	text-align: right;
	right: 0px;
	float: right;
	padding-top: 28px;
}

p.pdftitle
{
	text-align: right;
	right: 0px;
	float: right;
	padding-top: 10px;
}

p.code:last
{
	
}

pre
{
	padding: 10px;
}

html.copyright
{
	mc-master-page: url('../MasterPages/for_copyright.flmsp');
}

p.code + p.Note,
p.code + p.Important,
p.code + p.Warning,
pre + p.Note,
pre + p.Important,
pre + p.Warning
{
	margin-top: 15px;
}

li table
{
	margin: 20px 0px 20px 0px;
}

li p
{
	margin-top: 15px;
}

/* Responsive Design for the contents of the topic iframe --------- */
/* Smartphone mode for topic container */

@media screen and (max-width: 500px)
{
	p.pdf
	{
		display: none;
	}

	div.MCBreadcrumbsBox_0
	{
		display: none;
	}

	img
	{
		max-width: 100%;
	}

	#pageFrame
	{
		max-width: 100% !important;
		border: 0px #fff solid !important;
		background-color: #fff !important;
		margin: 0px !important;
		padding: 0px !important;
	}

	body
	{
		margin: 3px;
		padding: 3px;
		background-color: #fff !important;
	}

	div.feedback-comments-wrapper
	{
		display: none;
	}

	div.titlehead
	{
		height: 75px;
		margin-left: -6px;
		width: 103%;
		margin-right: 0;
	}

	div.titlehead img
	{
		display: none;
	}

	div.titlehead p
	{
		margin: -30px 0px 0px 0px;
		padding-top: 0px;
	}

	div.titlehead span.DevOfflineVariablesDocName1
	{
		font-size: 20px;
	}

	p.TitlePageHeading
	{
		font-size: 25px;
	}

	p.TitlePageSubHeading
	{
		font-size: 20px;
	}

	table
	{
		margin: 10px 5px 15px 5px;
		padding-left: 0px;
		max-width: 90%;
	}

	td
	{
		padding: 5px;
	}

	h2
	{
		font-size: smaller;
	}

	ul,
	ol
	{
		margin-left: 18px;
		padding-left: 0px;
	}
}

/* Tablet mode for topic container */

@media screen and (max-width: 900px) and (min-width: 501px)
{
	p.pdf
	{
		display: none;
	}

	div.MCBreadcrumbsBox_0
	{
		display: none;
	}

	img
	{
		max-width: 100%;
	}

	#pageFrame
	{
		max-width: 100% !important;
		border: 0px #fff solid !important;
		background-color: #fff !important;
		padding: 20px !important;
		margin: 0px !important;
	}

	body
	{
		margin: 0px;
		padding: 0px;
	}

	div.feedback-comments-wrapper
	{
		display: none;
	}

	div.titlehead
	{
		height: 100px;
	}

	div.titlehead img
	{
		display: none;
	}

	div.titlehead p
	{
		margin: 0px;
	}

	div.titlehead span.DevOfflineVariablesDocName1
	{
		font-size: 25px;
	}

	p.TitlePageHeading
	{
		font-size: 35px;
	}

	p.TitlePageSubHeading
	{
		font-size: 20px;
	}
}

/* End of Responsive Design section for the contents of the topic iframe -------- */

body.blue
{
	font-family: 'Karbon-Regular', 'Raleway', Verdana, Tahoma, sans-serif;
	font-weight: 300;
	font-size: 11pt;
	line-height: 1.6;
	background-color: blue;
}

strong
{
	font-weight: bold;
}

b
{
	font-weight: bold;
}

