/* fonts  */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(fonts/Roboto-Thin.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/Roboto-Bold.ttf);
}


html, body {
  height: 100%; 
  color: #707070; 
  font-size: 14px; 
  background-color: #fff; 
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  /* font-family: 'Inter', sans-serif; */
}
* {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

}


a {color: #4A92F5;}
.site-header, .main-header {background-color: #262626 ;}
.site-title:hover {background-image: none;}

.main {height: 100%; top: 50px; background-color: #fff; }
.main-content-wrap {
    box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.2);
-webkit-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.2);
min-height: calc(100% - 130px);
}
.main-content a {white-space: normal;}
.page-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    /* padding-right: 15rem; */
    height: auto;
    position: absolute;
    top: 65px;
    z-index: 9; 
}
.page-nav li {display: inline; margin-right: 5px;}
.page-nav li a {background-image: none; color: #fff; height: auto; display: inline-block; font-size: 14px; padding-bottom: 11px;}
.page-nav li a:hover {background-image: none; opacity: 0.7;}
.page-nav li a.active, .sub-nav li a.active {background-color: #f1f1f1; border-bottom-width: 2px;}
.top-header {position: absolute; z-index: 999; width: 100%;}
.side-bar {background-color: transparent; border: none;}
.nav-list {background-color: #f1f1f1; }
.nav-list .nav-list-item .nav-list-link.active {background-image: none; color: #8B8DE0 !important; font-weight: 500; }
.site-nav>.nav-list>.nav-list-item.active, .site-nav>.nav-list>.nav-list-item>.nav-list-link.active {
  background-color: #fff; 
  border-bottom: 1px #dbdbdf solid; 
  border-top: 1px #dbdbdf solid;
}
.site-nav>.nav-list>.nav-list-item.active>.nav-list-link.active {border-bottom: none; border-top: none;}
.right-menu .nav-list .nav-list-item .nav-list-link {color: #707070;}
.right-menu .nav-list .nav-list-item .nav-list-link.active { font-weight: 500; color: #8B8DE0 !important;}
.search-label .search-icon {color: #bababa;}
.search-input:focus + .search-label .search-icon {color: rgb(196, 196, 196);}
.nav-list a, .nav-list .nav-list-item .nav-list-expander {color: #707070;}
.site-logo {
  height: 36px; width: 185px; background-size: 185px 36px;
}
.search-results {left: auto; right: 10px;}
.search-prepare {
  position: absolute;
  display: none;
  right: 0;
  top: 120px;
  z-index: 9999;
  min-height: 50px;
  padding-top: 20px;
  text-align: center;
  width: 100%;
  background-color: #fff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 12%), 0 3px 10px rgb(0 0 0 / 8%);
}
#search-prepare.hide-prepare-search {display: none !important;}


.sub-nav {margin: 0; padding: 0; margin-left: 10px; padding-top: 13px; height: 100%; text-align: center;}
.sub-nav li {list-style: none; display: inline-block;margin-right: 11px;}
.sub-nav li a {text-decoration: none; color: #433855; height: 100%; display: inline-block; background-image: none;padding-bottom: 12px; font-size: 0.85rem;}
.sub-nav li a:hover {text-decoration: none; background-image: none;color: #666;}
footer {text-align: center; font-size: 14px; color: #878fa1; clear: both; padding-top: 20px; padding-bottom: 30px; position: relative; top: 48px; background-color: #262626;}
footer p {margin: 8px 0;}
footer .foot-nav {color: #4A92F5;}
footer .foot-nav a, footer .foot-nav a:hover {text-decoration: none; background-image: none;}
footer .foot-nav a:hover {color: #333;}
.social-nav {margin: 0; padding: 0; margin-top: 20px;}
.social-nav li {list-style: none; display: inline-block; margin: 0 3px}
.social-nav li a {
    display: inline-block; 
    height: 50px; 
    width: 50px; 
    background: url('../../assets/images/facebookIcon.svg') no-repeat center center;
    text-indent: -9999px;
    background-size: 80%;
}
.social-nav li a.facebook {background-image: url('../../assets/images/facebookIcon.svg');}
.social-nav li a.linkedin {background-image: url('../../assets/images/linkedinIcon.svg');}
.social-nav li a.twitter {background-image: url('../../assets/images/twitter.svg');}
.social-nav li a.youtube {background-image: url('../../assets/images/youtube.svg');}
.social-nav li a.glassdoor {background-image: url('../../assets/images/glassdoor.svg');}
.main-content .anchor-heading svg {color: #4e94f5;}

/* for youtube videos */
.youtube-wrapper {
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 56.25%;
}
.youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  height: 500px;
  border: 0;
}

::selection {
  background-color: #b5a4fb;
}
.main-content h3:first-child {margin-top: 0;}
.main-header {display: block;}
.page-nav {display: none;}
.sub-nav-wrap .site-button {display: block; background-color: #eaeaea; color: #333;font-size: 16px; padding: 10px; height: 48px;}
.carat-topic {width: 28px; transform: rotate(90deg); padding-left: 10px; float: right;}
.icon {color: #fff;}
.page-nav.nav-open {
  display: block;
  line-height: 2.5;
  padding: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.49);
-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.49);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.49);
}
.page-nav.nav-open li {
  display: block;
  width: 100%;
}
.page-nav.nav-open li a {
  color: #433855;
  width: 100%;
  padding: 0 15px;
}
.site-button:hover {background-image: none;}
.breadcrumb-nav-list-item::after {content: '>';}
.right-menu {position: absolute; top: -48px; width: 100%; background-color: #FAFAFA; z-index: 9;}
.category-wrap {display: flex;}
.category-wrap .site-button {flex-grow: 1;}
.category-wrap .sub-site-button {width: 45px; background-color: #bcbcbc; padding: 10px;}
.right-menu > .site-nav {position: absolute; top: 214px; z-index: 11;  width: calc(100% - 10px);}
.sub-nav a.current {
  border-bottom: 3px #d694f9 solid;
}
.search-active .search {top: 60px;}
.right-menu .site-nav.nav-open, .side-bar .site-nav.nav-open {border-bottom: 2px #333 solid;}
blockquote {
  background-color: #f1f1f1;
    padding: 1px 20px;
    margin: 10px 0;
    border: 1px #666 solid;
    border-left: 6px #d694f9 solid;
}
blockquote p {margin-top: 1em;}
figure.highlight, code {
background-color: #eaebef;
}

.breadcrumb-nav {margin-bottom: 20px;}
.breadcrumb-nav-list-item {font-size: 12px !important; color: #000;}
.breadcrumb-nav-list-item span {border-bottom: 2px #D694F9 solid; padding-bottom: 3px;}
.breadcrumb-nav-list-item a {color: #AAAAAA; border-bottom: none !important; font-size: 12px}
.breadcrumb-nav-list-item a:hover {color: #000;}
figure.highlight code, code {font-size: 14px; line-height: 2;}
.side-bar {
 
  width: 100%;
  height: 100%;
  float: left; 
  position: relative;
  top: -50px;
  z-index: 15;
}
.search {top: 60px;}
.search-input-wrap {right: 0; max-width: 100%;}
.search-input {height: 100%; width: 100%; top: 0; border-radius: 0;}
.sub-nav-wrap {margin-top: 55px;}
p {margin-top: 0;}
ul p {display: inline !important; }
.content-wrap {position: relative; top: 48px;}
/* .main-content ul > li::before {position: relative; top: 0px; margin: 0; margin-right: 5px; font-size: 28px; line-height: 30px; vertical-align: middle;}
.main-content ul > li > ul > li::before {content: "○"; font-size: 17px; top: -3px;} */

.main-content ul, .main-content ol {margin-left: 20px;}
.main-content ol {counter-reset: none;}
.main-content ol > li::before {content: ''; display: none;}
.main-content ol > li {list-style: decimal;}
.main-content ol > li::marker {color: #000;}
.main-content ul > li {list-style: disc; line-height: 28px; margin-bottom: 10px;}
.main-content ul > li > ul > li {list-style: circle;}
.main-content ul > li::before {content: '';}

/*IE*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .scrollable {
          margin-right: -10px;
          /* margin-top: -32px; */
          margin-bottom: -32px;
          padding-bottom: 32px;
  
          /* ie scrollbar color properties */
          scrollbar-base-color: #efefef;
          scrollbar-face-color: #CFCFCF;
          scrollbar-3dlight-color: #CFCFCF;
          scrollbar-highlight-color: #CFCFCF;
          scrollbar-track-color: #efefef;
          scrollbar-arrow-color: #efefef;
          scrollbar-shadow-color: #CFCFCF;
          scrollbar-dark-shadow-color: #CFCFCF;
    }
    .body-wrap.scrollable {
      margin-right: -10px;
      margin-bottom: -32px;
      padding-bottom: 32px;
  
  
      /* ie scrollbar color properties */
      scrollbar-base-color: #12191F;
      scrollbar-face-color: #D694F9;
      scrollbar-3dlight-color: #D694F9;
      scrollbar-highlight-color: #D694F9;
      scrollbar-track-color: #12191F;
      scrollbar-arrow-color: #12191F;
      scrollbar-shadow-color: #D694F9;
      scrollbar-dark-shadow-color: #D694F9;
  }
    
        .scrollable:after {
          content: "";
          height: 32px;
          display: block;
      }
      .body-wrap.scrollable  {padding-bottom: 0 !important;}
      .body-wrap.scrollable:after {height: 0 !important;}   
  }
  
  /*Edge*/
  @supports (-ms-ime-align:auto)  {
  .scrollable {
          margin-right: -10px;
          padding-top: 25px;
          margin-top: -16px;
          margin-bottom: -16px;
          padding-bottom: 16px;
  }
  .right-menu .site-nav {padding-top: 0;}
  .content-wrap .scrollable {padding-top: 45px;}
  .main-content-wrap {margin-top: 0;}
  .scrollable:after {
      content: "";
      height: 16px;
      display: block;
  }
  .body-wrap.scrollable  {padding-bottom: 0;}
  .body-wrap.scrollable:after {height: 0;}
  
  }


/* table styles */
table {
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table th {background-color: #f2f2f2;}
table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
table td, table th {
  padding: 6px 13px;
  border: 1px solid #ccc;
}
th:first-of-type, td:first-of-type, tbody tr:last-of-type th, tbody tr:last-of-type td {border-left: 1px solid #ccc !important; border-bottom: 1px solid #ccc !important;}

pre {white-space: pre-wrap;}

/* modal styles */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 999;
}


/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  text-align: left;
  /* margin: 15% auto; 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
  position: absolute;
  bottom: 34px;
  animation: slide-up 0.3s;
}
#revised-terms .modal-content {
  width: 800px;
  max-width: 80%;
    margin: auto;
    top: 80px;
    bottom: auto;
    height: 80vh;
    left: 0;
    right: 0;
    padding: 0px;
    padding-bottom: 50px;
    animation: slide-down 0.5s;
}

#revised-terms h3 {margin-bottom: 5px; margin-top: 15px;}
#revised-terms h2 {margin: 0; color: #fff; font-weight: normal; font-size: 18px !important;}
#revised-terms table {margin-top: 10px;}
#revised-terms .inline-bullets {padding-bottom: 20px;}
#revised-terms .inline-bullets li {margin-right: 50px; float: left; color: #000;}
#revised-terms .inline-bullets li::after {clear: both;}
.modal-main-content {padding: 20px; padding-top: 10px; height: 90%; overflow: hidden; overflow-y: auto;}
.head-ribbon {
  height: 50px;
  margin-top: 50px;
  background-color: #717171;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding-top: 16px;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.28);
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.28);
  z-index: 3;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 0;
}

.head-ribbon a {color: #fff; text-decoration: underline;  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;}
.head-ribbon a:hover {text-decoration: none; color: #000;}



@keyframes slide-up {
  from {
    transform-origin: left top;
    bottom: -100px;
  }
  to {
    bottom: 34px;
  }
}
@keyframes slide-down {
  from {
    transform-origin: left bottom;
    top: -100%;
  }
  to {
    bottom: 80px;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* The Close Button */
.close2 {position: absolute; top: 1px; right: 10px;}
.close, .close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,  
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.close2:hover, .close2:focus {color: #fff; text-decoration: none; cursor: pointer;}
/* home page promo design */

.homepage{
  position: relative;
  background-color: #000;
  padding: 50px 0 40px;
  text-align: center;
}
.hero-content {
  position: relative;
  color: #fff;
}
.homepage::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.65;
  background-image: url(../../assets/images/home-bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;  
}


.homepage h1 {
    color: #fff;
    font-size: 50px !important;
    font-weight: 600;
    margin-bottom:10px;
}
.homepage h2 {
    margin-bottom: 8px;
    color: #fff;
    font-size: 32px !important;
    font-weight: 400;
}
/* .homepage span {
  display: inline-block;
  margin-right: 5px;
  color: #fff;
  font-family: arial;
  font-size: 16px !important;
  border-bottom: 1px #fff solid;
} */
.homepage p {
font-size: 19px;
}

.banner-btn {
  margin-top: 20px;
  min-width: 219px;
  color: #fff;
  padding: 15px;
  box-shadow: 0 14px 32px 0 rgb(245 138 44 / 25%);
  background-image: linear-gradient(280deg, #f8ab69, #f5821e);
  border: inherit;
  overflow: hidden;
  -webkit-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.5, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.5, 1, 0.3, 1);
  position: relative;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  z-index: 0;
}
.banner-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: linear-gradient(280deg, #f47100, #f67200);
  z-index: -1;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform: rotate3d(0, 0, 1,-45deg) translate3d(0, -3em, 0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.5s, opacity 0.25s, background-color 0.25s;
  transition: transform 0.5s, opacity 0.25s, background-color 0.25s;
}
.banner-btn:hover {
  box-shadow: 0 14px 32px 0 rgb(245 138 44 / 25%);
    background: transparent !important;
    outline: 0;
    border-radius: 0 !important;
}

.banner-btn:hover::before {
  opacity: 1;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  border-radius: 0 !important;
  z-index: -1;
}

.border-btn {
 margin-top: 20px;
  min-width: 219px;
  color: #818181;;
  padding: 10px 25px;
  border: 1px #707070 solid;
  overflow: hidden;
  -webkit-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.5, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.5, 1, 0.3, 1);
  position: relative;
  cursor: pointer;
  display: inline-block;
  z-index: 0;
}
.border-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: linear-gradient(280deg, #f5f4f4, #e7e7e7);
  z-index: -1;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform: rotate3d(0, 0, 1,-45deg) translate3d(0, -3em, 0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.5s, opacity 0.25s, background-color 0.25s;
  transition: transform 0.5s, opacity 0.25s, background-color 0.25s;
}
.border-btn:hover {
 
    background: transparent !important;
    outline: 0;
    border-radius: 0 !important;
    color: #000;
}

.border-btn:hover::before {
  opacity: 1;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  border-radius: 0 !important;
  z-index: -1;
}
/* 
.home-link {margin-right: 35px !important; position: relative;}
.home-link a {
  position: absolute;
  width: 24px;
  height: 24px;
  top: -15px;
  margin-right: 25px;
}
.home-link img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  padding-top: 2px;
}
.home-link:hover {opacity: 0.75;} */


/* split panel styles  */
.split-hold {position: relative; display: none;}

.closeclick {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  /* -webkit-box-shadow: 2px 0px 3px 0px rgb(0 0 0 / 30%);
  -moz-box-shadow: 2px 0px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 0px 3px 0px rgb(0 0 0 / 30%); */
  width: 12px;
  height: 46px;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 4px;
  cursor: pointer;
  z-index: 9;
  background-color: #e4e4e4;
}
.closeright.closeclick {left: auto; right: 4px; -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;}

.closeclick:hover {background-color: #d3d3d3;}

.closeclick.flip {background-color: #d694f9;}

.closeclick::after {
content: "";
  border: solid 4px transparent;
  border-right-width: 4px;
  border-left: none;
  position: absolute;
  top: 50%;
  right: 0;
  left: 50%;
  margin-top: -6px;
  margin-left: -3px;
  width: 0;
  height: 0;
  color: #323333;
  border-right-color: #a7a7a7;
}
.closeclick.flip::after {
transform: scale(-1);
margin-left: -3px;
border-right-color: #fff;
}
.closeright.closeclick::after {
border: solid 4px transparent;
  border-left-width: 4px;
  border-right: none;
  left: 0;
  right: 50%;
  margin-left: 3px;
  border-left-color: #a7a7a7;
}
.closeright.closeclick.flip::after {
margin-left: 3px;
border-left-color: #fff;
}
.close-nav {display: none;}
/* .close-nav + .split-hold .split__bar, .close-nav ~ .split-hold .split__bar1 {background-color: #d694f9;} */


html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "PingFang TC", "Heiti TC", 微軟正黑體, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.content-wrap {
  top: 0;
  display: block;
  width: 100%;
}

.left-panel {
  width: 20%;
  
}

.main {
  width: 100%;
  flex: 1; 
}
.right-panel {
  width: 18%;
}

.split__bar, .split__bar1 {
  background-color: #e4e4e4;
  width: 4px;
  height: 100%;
  float: left;
  cursor: e-resize;
  position: relative;
  display: none;
  z-index: 8;
}

.split__bar:hover, .split__bar1:hover {
  background-color: #bcbcbc;
  width: 4px;
}
.split__bar.active-bar:hover, .split__bar1.active-bar:hover {background-color: #4A92F5 !important;}
details summary {font-size: 16px; color: #000; outline: none;}
details p {padding-left: 25px;}

.version-dropdown {display: none; padding-left: 2rem; border-bottom: 1px #e7e7e7 solid; width: 100%; padding-bottom: 10px; margin-top: 10px; }
.version-dropdown select {min-width: 100px; padding: 4px;}




@media (min-width: 50rem) {

  .main-content .hover-scale-img {
    width: 15%;
    min-height: 80px;
    border: 1px rgb(165, 165, 165) solid;
    transition: all 0.5s ease;
  }
  .main-content .hover-scale-img:hover {
    width: 100%;
    max-width: 100%;
    height: auto;
    cursor: pointer;
  }
  .left-float {float: left; max-width: 50%;}
.left-float + p {float: left; max-width: 50%; margin-left: 50px;}
#devops-services---appfactory {clear: both;}
.left-float + p::after {clear: both;}
.main-content .right-float-img {max-width: 100% !important; max-height: 375px !important;}

  .split-hold {display: block;}
  .home-link a { top: -4px;}
  .nav-list .nav-list-item .nav-list-expander {width: 1.5rem; height: 1.5rem; padding: 0.25rem; margin-right: 10px;}
  .version-dropdown {display: block;}
  body {overflow: hidden; }
  .content-wrap {height: calc(100% - 150px); top: 105px;}
  .main-content-wrap {height: calc(100% - 4px) !important; }
    .main {
    position: relative !important;
    top: 0;
    width: calc(100% - 528px);
    max-width: 100%;
    z-index: 1;
    float: left;
    height: 100%;
}
.right-menu {top: 0; background-color: #FAFAFA; float: right; height: 100%; overflow-y: auto; width: 20%; position: relative; }
.site-nav {z-index: 12; background-color: #FAFAFA; padding-top: 15px;}
.sub-nav li {margin-right: 50px;}
.page-nav {display: block; margin: 0; position: absolute; right: 15rem;top: 0;}

.sub-nav {margin-left: 20px; padding-top: 1px; text-align: left;  display: flex; align-items: flex-start;}
.sub-nav li {}

.sub-nav-wrap { 
  height: 45px; 
  top: 0;
  background-color: #fff;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.28);
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.28);
  position: relative;
  z-index: 2;
  margin-top: 0;
}
.sub-nav-wrap .site-button {display: none;}
.sub-nav li a {font-size: 16px; padding-top: 8px; padding-bottom: 4px;}
.page-nav li a.active, .sub-nav li a.active {border-bottom: 6px #d694f9 solid; background-color: transparent;}
.sub-nav a[href*="/articles/"], .sub-nav a[href*="/tutorials/"], .sub-nav a[href*="/documentation/"], .sub-nav a[href*="/getting-started/"] {border-bottom-width: 6px !important;}
.nav-list {background-color: transparent; padding-top: 0;}
.top-header {width: auto; float: left; position: static;}
.site-title {padding-left: 1.5rem; padding-right: 1.5rem;}
.category-wrap .sub-site-button {display: none;}
.right-menu > .site-nav {position: static; top: 220px; }
.right-menu .scrollable {overflow-x: hidden;}
.main-header {width: 100%; z-index: 9;}
.right-menu .site-nav.nav-open, .side-bar .site-nav.nav-open {border-bottom: none;}
.nav-list .nav-list-item .nav-list-link {padding-top: 0; padding-bottom: 0; min-height: auto; line-height: 1.5rem; font-size: 13px;}
.breadcrumb-nav {margin-top: 0;}
.search-active .search-input {padding-left: 15px; }
.search {top: 0px;}
.search-input-wrap {right: 0px; max-width: 230px;}
.search-input {padding: 2px 15px; height: 30px; top: 15px; border-radius: 20px; width: calc(100% - 40px);}
.search-label {padding-left: 0; padding-right: 1rem; right: 0;}
.search-label .search-icon {color: #fff;}
.search-active .search {top: 0px; z-index: 12;}
.side-bar {
  background-color: #f8f8f8;
  margin-top: 0px; 
  height: 100%;
  float: left; 
  position: relative;
  top: 0;
  z-index: 1;
  width: 20%;
}
.side-bar .nav-list {padding-top: 0;}

/* custom scroll bar */
.scrollable {
  height: 100%;
  overflow-y: auto;
}

.scrollable-container {
  
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-top: 0;
}



/*Firefox*/
/*From version 64 - https://drafts.csswg.org/css-scrollbars-1/*/
.scrollable {
  scrollbar-width: thin;
    scrollbar-color: #cccccc #efefef;
}
.body-wrap.scrollable {scrollbar-color: #fafafa #fff;}
.body-wrap.scrollable:hover{scrollbar-color: #D694F9 #12191F;}

/*Chrome*/
::-webkit-scrollbar-thumb {
  background: transparent;
}
::-webkit-scrollbar-track {
    background: transparent;
}
.scrollable:hover::-webkit-scrollbar-track, .search-results:hover::-webkit-scrollbar-track {
    background-color: #efefef;
    width: 4px;
}
.body-wrap.scrollable:hover::-webkit-scrollbar-track {
  background-color: #12191F;
  width: 4px;
}

.scrollable:hover::-webkit-scrollbar-thumb, .search-results:hover::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border: 1px solid transparent;
    background-clip: content-box;
    height: 100px;
}
.body-wrap.scrollable:hover::-webkit-scrollbar-thumb {
    background-color: #D694F9;
    border: 1px solid transparent;
    background-clip: content-box;
    height: 100px;
}
.scrollable::-webkit-scrollbar, .search-results::-webkit-scrollbar {
    width: 8px;
}

 /* end custom scroll  */
 .page-nav li a {font-size: 11px;}
.header-wrap {position: fixed; width: 100%; z-index: 999;}


footer {
  position: fixed; 
  width: 100%; 
  background-color: #262626; 
  top: auto; 
  bottom: 0; 
  z-index: 999; 
  height: 34px; 
  padding: 4px 0;
  font-size: 12px;
}
.social-nav {margin-left: 10px; display: inline;}
footer .foot-nav {display: inline; float: left; margin-top: 4px;}
.social-nav li {margin: 0;}
.social-nav li a {height: 26px; width: 26px; border-radius: 50%; opacity: 0.7; background-size: 90%;}
.social-nav li a:hover {opacity: 1;}
footer .foot-nav, footer .foot-nav a {color: #fff;}
footer .foot-nav a:hover {color: #cacaca;}
.foot-wrap {width: 660px; margin: auto; }
.split__bar, .split__bar1 {display: block;}
.main {width: 60%;}
.content-wrap { display: flex; }
.head-ribbon {height: 30px; margin-top: 0; padding-top: 8px;}
.head-ribbon:hover {background-color: #8B8DE0; height: 50px; padding-top: 15px; font-size: 14px;}


}


@media (min-width: 66.5rem) {

  .site-nav {width: 100%;}
  .right-menu {width: 264px;}
  .side-bar {
      width: 264px;
      /* min-width: 264px; */
      min-width: auto;
    
  }
  .main-content img {max-width: 800px !important;}
  .page-nav li a {font-size: 14px;}

  /* //content align for promo, delete after promo 
  .home-content .side-bar ~ .main .main-content {
    margin-left: 100px;
  }
  .home-content .side-bar.close-nav ~ .main .main-content {
    margin-left: auto;
  } */
  .home-content .main-content {
    position: fixed;
    left: 50%;
    margin-left: -375px;
  }

  }

  @media (min-width: 72rem) {
    .page-nav li {margin-right: 30px;}
    .page-nav {float: right;}
    .page-nav li a {font-size: 16px;}
  }

