/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Basic;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #a9a9a9;
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: #a9a9a9;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #a9a9a9;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	max-id: 3;
	margin-left: 20px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
	cell-padding-left: 10px;
	cell-padding-right: 20px;
	mc-hide-bottom-ruling: true;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	name: Column1;
	id: 0;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #bbbbbb;
	name: Header1;
	id: 2;
	background-color: #f2f2f2;
	font-size: 16px;
	color: #35414c;
	cell-padding-left: 10px;
	cell-padding-right: 10px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
	font-weight: normal;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #bbbbbb;
	name: Body1;
	id: 1;
	font-family: 'Sourcesanspro-Regular', 'Raleway', Verdana, sans-serif;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #ffffff;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-Basic
{
	border-collapse: collapse;
	mc-hide-bottom-ruling: true;
	border-left-style: solid;
	border-left-color: #a9a9a9;
	border-left-width: 2px;
	border-right-style: solid;
	border-right-color: #a9a9a9;
	border-right-width: 2px;
	border-top-style: solid;
	border-top-color: #a9a9a9;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #a9a9a9;
	border-bottom-width: 2px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-left: 20px;
	border-spacing: 0px 0px;
}

.TableStyle-Basic-Column-Column1
{
	
}

.TableStyle-Basic-Head-Header1
{
	
}

.TableStyle-Basic-HeadI-Column1-Header1
{
	vertical-align: top;
	color: #35414c;
	font-size: 16px;
	font-weight: normal;
	background-color: #f2f2f2;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Basic-HeadI-Column1-Header1 p
{
	color: #35414c;
	font-size: 16px;
	font-weight: normal;
}

.TableStyle-Basic-HeadE-Column1-Header1
{
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #35414c;
	font-size: 16px;
	font-weight: normal;
	background-color: #f2f2f2;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #bbbbbb;
	border-bottom-style: solid;
}

.TableStyle-Basic-HeadE-Column1-Header1 p
{
	color: #35414c;
	font-size: 16px;
	font-weight: normal;
}

.TableStyle-Basic-HeadF-Column1-Header1
{
	vertical-align: top;
	color: #35414c;
	font-size: 16px;
	font-weight: normal;
	background-color: #f2f2f2;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #bbbbbb;
	border-bottom-style: solid;
}

.TableStyle-Basic-HeadF-Column1-Header1 p
{
	color: #35414c;
	font-size: 16px;
	font-weight: normal;
}

.TableStyle-Basic-HeadH-Column1-Header1
{
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #35414c;
	font-size: 16px;
	font-weight: normal;
	background-color: #f2f2f2;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Basic-HeadH-Column1-Header1 p
{
	color: #35414c;
	font-size: 16px;
	font-weight: normal;
}

.TableStyle-Basic-HeadD-Column1-Header1
{
	vertical-align: top;
	color: #35414c;
	font-size: 16px;
	font-weight: normal;
	background-color: #f2f2f2;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #bbbbbb;
	border-bottom-style: solid;
}

.TableStyle-Basic-HeadD-Column1-Header1 p
{
	color: #35414c;
	font-size: 16px;
	font-weight: normal;
}

.TableStyle-Basic-HeadC-Column1-Header1
{
	vertical-align: top;
	color: #35414c;
	font-size: 16px;
	font-weight: normal;
	background-color: #f2f2f2;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Basic-HeadC-Column1-Header1 p
{
	color: #35414c;
	font-size: 16px;
	font-weight: normal;
}

.TableStyle-Basic-HeadB-Column1-Header1
{
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #35414c;
	font-size: 16px;
	font-weight: normal;
	background-color: #f2f2f2;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Basic-HeadB-Column1-Header1 p
{
	color: #35414c;
	font-size: 16px;
	font-weight: normal;
}

.TableStyle-Basic-HeadA-Column1-Header1
{
	vertical-align: top;
	color: #35414c;
	font-size: 16px;
	font-weight: normal;
	background-color: #f2f2f2;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Basic-HeadA-Column1-Header1 p
{
	color: #35414c;
	font-size: 16px;
	font-weight: normal;
}

.TableStyle-Basic-HeadG-Column1-Header1
{
	vertical-align: top;
	color: #35414c;
	font-size: 16px;
	font-weight: normal;
	background-color: #f2f2f2;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Basic-HeadG-Column1-Header1 p
{
	color: #35414c;
	font-size: 16px;
	font-weight: normal;
}

.TableStyle-Basic-Foot-Footer1
{
	
}

.TableStyle-Basic-FootI-Column1-Footer1
{
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: top;
}

.TableStyle-Basic-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Basic-FootE-Column1-Footer1
{
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	border-top-width: 0px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Basic-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Basic-FootF-Column1-Footer1
{
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: top;
	border-top-width: 0px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Basic-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Basic-FootH-Column1-Footer1
{
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Basic-FootD-Column1-Footer1
{
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: top;
	border-top-width: 0px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Basic-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Basic-FootC-Column1-Footer1
{
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: top;
}

.TableStyle-Basic-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Basic-FootB-Column1-Footer1
{
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Basic-FootA-Column1-Footer1
{
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: top;
}

.TableStyle-Basic-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Basic-FootG-Column1-Footer1
{
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: top;
}

.TableStyle-Basic-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Basic-Body-Body1
{
	
}

.TableStyle-Basic-BodyI-Column1-Body1
{
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Sourcesanspro-Regular', 'Raleway', Verdana, sans-serif;
	font-weight: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyI-Column1-Body1 p
{
	font-family: 'Sourcesanspro-Regular', 'Raleway', Verdana, sans-serif;
	font-weight: normal;
}

.TableStyle-Basic-BodyE-Column1-Body1
{
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Sourcesanspro-Regular', 'Raleway', Verdana, sans-serif;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #bbbbbb;
	border-bottom-style: solid;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-BodyE-Column1-Body1 p
{
	font-family: 'Sourcesanspro-Regular', 'Raleway', Verdana, sans-serif;
	font-weight: normal;
}

.TableStyle-Basic-BodyF-Column1-Body1
{
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Sourcesanspro-Regular', 'Raleway', Verdana, sans-serif;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #bbbbbb;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-Basic-BodyF-Column1-Body1 p
{
	font-family: 'Sourcesanspro-Regular', 'Raleway', Verdana, sans-serif;
	font-weight: normal;
}

.TableStyle-Basic-BodyH-Column1-Body1
{
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Sourcesanspro-Regular', 'Raleway', Verdana, sans-serif;
	font-weight: normal;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-BodyH-Column1-Body1 p
{
	font-family: 'Sourcesanspro-Regular', 'Raleway', Verdana, sans-serif;
	font-weight: normal;
}

.TableStyle-Basic-BodyD-Column1-Body1
{
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Sourcesanspro-Regular', 'Raleway', Verdana, sans-serif;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #bbbbbb;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-Basic-BodyD-Column1-Body1 p
{
	font-family: 'Sourcesanspro-Regular', 'Raleway', Verdana, sans-serif;
	font-weight: normal;
}

.TableStyle-Basic-BodyC-Column1-Body1
{
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Sourcesanspro-Regular', 'Raleway', Verdana, sans-serif;
	font-weight: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyC-Column1-Body1 p
{
	font-family: 'Sourcesanspro-Regular', 'Raleway', Verdana, sans-serif;
	font-weight: normal;
}

.TableStyle-Basic-BodyB-Column1-Body1
{
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Sourcesanspro-Regular', 'Raleway', Verdana, sans-serif;
	font-weight: normal;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-BodyB-Column1-Body1 p
{
	font-family: 'Sourcesanspro-Regular', 'Raleway', Verdana, sans-serif;
	font-weight: normal;
}

.TableStyle-Basic-BodyA-Column1-Body1
{
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Sourcesanspro-Regular', 'Raleway', Verdana, sans-serif;
	font-weight: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyA-Column1-Body1 p
{
	font-family: 'Sourcesanspro-Regular', 'Raleway', Verdana, sans-serif;
	font-weight: normal;
}

.TableStyle-Basic-BodyG-Column1-Body1
{
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Sourcesanspro-Regular', 'Raleway', Verdana, sans-serif;
	font-weight: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyG-Column1-Body1 p
{
	font-family: 'Sourcesanspro-Regular', 'Raleway', Verdana, sans-serif;
	font-weight: normal;
}


