/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: RevisionTable;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 3;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	font-size: 8pt;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	text-align: left;
	font-size: 8pt;
	background-color: #ffffff;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	font-size: 8pt;
	text-align: left;
	size: 0;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
	font-size: 8pt;
	text-align: left;
}


/* Cell Styles: */
 
.TableStyle-RevisionTable
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-RevisionTable-Column-Column1
{
	
}

.TableStyle-RevisionTable-Head-Header1
{
	
}

.TableStyle-RevisionTable-HeadI-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 8pt;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-RevisionTable-HeadI-Column1-Header1 p
{
	font-size: 8pt;
}

.TableStyle-RevisionTable-HeadE-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-size: 8pt;
	text-align: left;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-RevisionTable-HeadE-Column1-Header1 p
{
	font-size: 8pt;
}

.TableStyle-RevisionTable-HeadF-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 8pt;
	text-align: left;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-RevisionTable-HeadF-Column1-Header1 p
{
	font-size: 8pt;
}

.TableStyle-RevisionTable-HeadH-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-size: 8pt;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-RevisionTable-HeadH-Column1-Header1 p
{
	font-size: 8pt;
}

.TableStyle-RevisionTable-HeadD-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 8pt;
	text-align: left;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-RevisionTable-HeadD-Column1-Header1 p
{
	font-size: 8pt;
}

.TableStyle-RevisionTable-HeadC-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 8pt;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-RevisionTable-HeadC-Column1-Header1 p
{
	font-size: 8pt;
}

.TableStyle-RevisionTable-HeadB-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-size: 8pt;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-RevisionTable-HeadB-Column1-Header1 p
{
	font-size: 8pt;
}

.TableStyle-RevisionTable-HeadA-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 8pt;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-RevisionTable-HeadA-Column1-Header1 p
{
	font-size: 8pt;
}

.TableStyle-RevisionTable-HeadG-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 8pt;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-RevisionTable-HeadG-Column1-Header1 p
{
	font-size: 8pt;
}

.TableStyle-RevisionTable-Foot-Footer1
{
	
}

.TableStyle-RevisionTable-FootI-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 8pt;
	text-align: left;
}

.TableStyle-RevisionTable-FootI-Column1-Footer1 p
{
	font-size: 8pt;
}

.TableStyle-RevisionTable-FootE-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-size: 8pt;
	text-align: left;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-RevisionTable-FootE-Column1-Footer1 p
{
	font-size: 8pt;
}

.TableStyle-RevisionTable-FootF-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 8pt;
	text-align: left;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-RevisionTable-FootF-Column1-Footer1 p
{
	font-size: 8pt;
}

.TableStyle-RevisionTable-FootH-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-size: 8pt;
	text-align: left;
}

.TableStyle-RevisionTable-FootH-Column1-Footer1 p
{
	font-size: 8pt;
}

.TableStyle-RevisionTable-FootD-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 8pt;
	text-align: left;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-RevisionTable-FootD-Column1-Footer1 p
{
	font-size: 8pt;
}

.TableStyle-RevisionTable-FootC-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 8pt;
	text-align: left;
}

.TableStyle-RevisionTable-FootC-Column1-Footer1 p
{
	font-size: 8pt;
}

.TableStyle-RevisionTable-FootB-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-size: 8pt;
	text-align: left;
}

.TableStyle-RevisionTable-FootB-Column1-Footer1 p
{
	font-size: 8pt;
}

.TableStyle-RevisionTable-FootA-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 8pt;
	text-align: left;
}

.TableStyle-RevisionTable-FootA-Column1-Footer1 p
{
	font-size: 8pt;
}

.TableStyle-RevisionTable-FootG-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 8pt;
	text-align: left;
}

.TableStyle-RevisionTable-FootG-Column1-Footer1 p
{
	font-size: 8pt;
}

.TableStyle-RevisionTable-Body-Body1
{
	height: 0;
}

.TableStyle-RevisionTable-BodyI-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	font-size: 8pt;
}

.TableStyle-RevisionTable-BodyI-Column1-Body1 p
{
	font-size: 8pt;
}

.TableStyle-RevisionTable-BodyE-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 8pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevisionTable-BodyE-Column1-Body1 p
{
	font-size: 8pt;
}

.TableStyle-RevisionTable-BodyF-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 8pt;
}

.TableStyle-RevisionTable-BodyF-Column1-Body1 p
{
	font-size: 8pt;
}

.TableStyle-RevisionTable-BodyH-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	font-size: 8pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevisionTable-BodyH-Column1-Body1 p
{
	font-size: 8pt;
}

.TableStyle-RevisionTable-BodyD-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 8pt;
}

.TableStyle-RevisionTable-BodyD-Column1-Body1 p
{
	font-size: 8pt;
}

.TableStyle-RevisionTable-BodyC-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	font-size: 8pt;
}

.TableStyle-RevisionTable-BodyC-Column1-Body1 p
{
	font-size: 8pt;
}

.TableStyle-RevisionTable-BodyB-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	font-size: 8pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevisionTable-BodyB-Column1-Body1 p
{
	font-size: 8pt;
}

.TableStyle-RevisionTable-BodyA-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	font-size: 8pt;
}

.TableStyle-RevisionTable-BodyA-Column1-Body1 p
{
	font-size: 8pt;
}

.TableStyle-RevisionTable-BodyG-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	font-size: 8pt;
}

.TableStyle-RevisionTable-BodyG-Column1-Body1 p
{
	font-size: 8pt;
}


