.md-tabs__link--active {
    border-bottom: 2px solid #FFF;
    font-weight: 600;
}

.md-tabs__link {
    opacity: 1;
}

.md-typeset h1 {
    font-weight: 500;
}

[dir=ltr] .md-header__title {
	margin-left: 0;
}

[dir=rtl] .md-header__title {
    margin-right: 0;
}

.announcement__link {
    color: white !important;
    text-decoration: underline;
}

.content-types-banner {
  height: 30px; 
}

/*
.sub-nav {margin-left: 20px; padding-top: 1px; text-align: left;  display: flex; align-items: flex-start;}

.sub-nav li {}
*/

.sub-nav {margin: 0; padding: 0; margin-left: 0 !important; padding-top: 13px; height: 100%; text-align: left;}
.sub-nav li {list-style: none; display: inline-block;margin-right: 11px; margin-left: 0 !important; margin-bottom: 0 !important}
.sub-nav li a {text-decoration: none; color: white; height: 100%; display: inline-block; background-image: none;padding-bottom: 12px; font-size: 0.85rem;}
.sub-nav li a:hover {text-decoration: none; background-image: none;color: #666;}

.md-typeset ul {
  margin-bottom: 0;
  margin-top: 15px;
}

.legacy-link {float: right;}

.md-footer__git_legacy {font-size: .7rem;  color:var(--md-footer-fg-color--light); margin-left: 0.6rem; margin-bottom: auto;}

.md-copyright {
     margin-left: .6rem !important;
     margin-top: 0 !important;}

.md-copyright__highlight {
 color:var(--md-footer-fg-color--light)
}

.social-nav {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0;
}

.social-nav li {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    float: left;
}

.social-nav li a {
    height: 26px; 
    width: 26px; 
    border-radius: 50%; 
    opacity: 0.7;
    background-size: 90%;
    text-decoration: none;}
.social-nav li a:hover {opacity: 1;}


.social-nav li a.facebook {
    display: inline-block; 
    background: url('../assets/facebookIcon.svg') no-repeat center center;
    text-indent: -9999px;
}
.social-nav li a.linkedin {
    display: inline-block; 
    background: url('../assets/linkedinIcon.svg') no-repeat center center;
    text-indent: -9999px;
}
.social-nav li a.twitter {
    display: inline-block; 
    background: url('../assets/twitter.svg') no-repeat center center;
    text-indent: -9999px;
}
.social-nav li a.youtube {
    display: inline-block; 
    background: url('../assets/youtube.svg') no-repeat center center;
    text-indent: -9999px;
}

.social-nav li a svg {
    max-height: 1.13rem;
}
