<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}
<body>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="svg-search" viewBox="0 0 24 24">
    <title>Search</title>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
      <circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line>
    </svg>
  </symbol>
</svg>

<div class="header-wrap">
  {% include top-header.html %}
  {% include main-header.html %}
  {% include sub-header.html %}
</div> 

<style>
  .sub-nav a[href*="/articles/"] {
   border-bottom: 3px #d694f9 solid;
} 
</style>

<div class="content-wrap {% if page.title == 'Home' %} home-content{% endif %}">
  <div class="side-bar scrollable-container">

    <nav role="navigation" aria-label="Main" id="site-nav" class="site-nav scrollable" >
      <ul class="nav-list">
        {%- assign pages_list = site.pages | sort:"order" | where_exp: "item" , "item.path contains 'docs'"%}
         {%- for node in pages_list -%}
         {% if node.layout == "articles" %}
           {%- if node.parent == nil -%}
             {%- unless node.nav_exclude -%}
             {%- unless node.category -%}
             <li class="nav-list-item{% if page.url == node.url or page.parent == node.title or page.grand_parent == node.title %} active{% endif %}">
               {%- if node.has_children -%}
                 <a href="#" class="nav-list-expander"><svg viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg></a>
               {%- endif -%}
               
               <a href="{{ node.url | absolute_url }}" class="nav-list-link{% if page.url == node.url %} active{% endif %}">{{ node.title }}</a>
               
               {%- if node.has_children -%}
                 {%- assign children_list = pages_list | where: "parent", node.title -%}
                 <ul class="nav-list ">
                 {%- for child in children_list -%}
                   {%- unless child.nav_exclude -%}
                   <li class="nav-list-item {% if page.url == child.url or page.parent == child.title %} active{% endif %}">
                     {%- if child.has_children -%}
                       <a href="#" class="nav-list-expander"><svg viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg></a>
                     {%- endif -%}
                     
                     <a href="{{ child.url | absolute_url }}" class="nav-list-link{% if page.url == child.url %} active{% endif %}">{{ child.title }}</a>
                     
                     {%- if child.has_children -%}
                       {%- assign grand_children_list = pages_list | where: "parent", child.title | where: "grand_parent", node.title -%}
                       <ul class="nav-list">
                        {%- for grand_child in grand_children_list -%}
                        {%- unless grand_child.nav_exclude -%}
                        <li class="nav-list-item {% if page.url == grand_child.url %} active{% endif %}">
                            {%- if grand_child.has_children -%}
                            <a href="#" class="nav-list-expander"><svg viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg></a>
                          {%- endif -%}
                            <a href="{{ grand_child.url | absolute_url }}"
                                class="nav-list-link{% if page.url == grand_child.url %} active{% endif %}">{{
                                grand_child.title }}</a>
                                <!-- great grand child -->
                            {%- if grand_child.has_children -%}
                            {%- assign great_grand_children_list = pages_list | where: "parent", grand_child.title | where: "grand_parent", child.title | where: "great_grand_parent", node.title -%}
                           <ul class="nav-list">
                              {%- for great_grand_child in great_grand_children_list -%}
                           {%- unless great_grand_child.nav_exclude -%}
                           <li class="nav-list-item {% if page.url == grand_child.url %} active{% endif %}">
                            {%- if great_grand_child.has_children -%}
                            <a href="#" class="nav-list-expander"><svg viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg></a>
                            {%- endif -%}
                           <a href="{{ great_grand_child.url | absolute_url }}" class="nav-list-link{% if page.url == great_grand_child.url %} active{% endif %}">{{ great_grand_child.title }}</a>
                            
                         
                           {%- if great_grand_child.has_children -%}
                           {%- assign great_great_grand_children_list = pages_list | where: "parent", great_grand_child.title | where: "grand_parent", grand_child.title | where: "great_grand_parent", child.title | where: "great_great_grand_parent", node.title -%}
                           <ul class="nav-list">
                            {%- for great_great_grand_child in great_great_grand_children_list -%}
                            {%- unless great_great_grand_child.nav_exclude -%}
                             <li class="nav-list-item {% if page.url == great_grand_child.url %} active{% endif %}">
                               <a href="{{ great_great_grand_child.url | absolute_url }}" class="nav-list-link{% if page.url == great_great_grand_child.url %} active{% endif %}">{{ great_great_grand_child.title }}</a>
                             </li>
                             {%- endunless -%}
                        {%- endfor -%}
                           </ul>
                           {%- endif -%}
    
    
                          </li>  
                           {%- endunless -%}
                        {%- endfor -%}
                      </ul>
                      {%- endif -%}
    
                              <!-- great grand child end -->
    
                        </li>
                        {%- endunless -%}
                        {%- endfor -%}
                    </ul>
                     {%- endif -%}
                   </li>
                   {%- endunless -%}
                 {%- endfor -%}
                 </ul>
               {%- endif -%}
             </li>
             {%- endunless -%}
             {%- endunless -%}
           {%- endif -%}
           {% endif %}
         {%- endfor -%}
       </ul>
    </nav>
  </div>
  <div class="split-hold" >
    <div class="split__bar"></div>
    <div class="closeclick" id="left-close"></div>
  </div>
  
  
  <!-- start main  -->
  <div class="main scrollable-container resizable-right" id="top">
      
    <div id="main-content-wrap" class="main-content-wrap scrollable">
      
     
      {% unless page.url == "/" %}
      {% if page.parent or page.grand_parent or page.great_grand_parent or page.great_great_grand_parent %}
        

        {%- for node in pages_list -%}
          {%- if node.parent == nil -%}

            {%- if page.parent == node.title or page.grand_parent == node.title or page.great_grand_parent == node.title or page.great_great_grand_parent == node.title -%}
              {%- assign first_level_url = node.url | absolute_url -%}
            {%- endif -%}


            {%- if node.has_children -%}
              {%- assign children_list = pages_list | where: "parent", node.title -%}
              {%- for child in children_list -%}
                {%- if page.url == child.url or page.parent == child.title or page.grand_parent == child.title or page.great_grand_parent == child.title -%}
                  {%- assign second_level_url = child.url | absolute_url -%}
                {%- endif -%}

                  {%- if child.has_children -%}
                    {%- assign grand_children_list = pages_list | where: "parent", child.title -%}
                      {%- for grand_child in grand_children_list -%}
                      {%- if page.url == grand_child.url or page.parent == grand_child.title or page.grand_parent == grand_child.title -%}


                        {%- assign third_level_url = grand_child.url | absolute_url -%}
                      {%- endif -%}
                        {%- if grand_child.has_children -%}
                        {%- assign great_grand_children_list = pages_list | where: "parent", grand_child.title -%}
                        {%- for great_grand_child in great_grand_children_list -%}
                        {%- if page.url == great_grand_child.url or page.parent == great_grand_child.title -%}
                            {%- assign fourth_level_url = great_grand_child.url | absolute_url -%}
                        {%- endif -%}
                        {%- endfor -%}
                        {%- endif -%}
                      {%- endfor -%}
                  {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
<nav aria-label="Breadcrumb" class="breadcrumb-nav">

  <ol class="breadcrumb-nav-list">
  
    {% if page.great_great_grand_parent %}
    <li class="breadcrumb-nav-list-item"><a href="{{ first_level_url }}">{{ page.great_great_grand_parent }}</a></li>
    <li class="breadcrumb-nav-list-item"><a href="{{ second_level_url }}">{{ page.great_grand_parent }}</a></li>
    <li class="breadcrumb-nav-list-item"><a href="{{ third_level_url }}">{{ page.grand_parent }}</a></li>
    <li class="breadcrumb-nav-list-item"><a href="{{ fourth_level_url }}">{{ page.parent }}</a></li>
  
    {% elsif page.great_grand_parent %}
    <li class="breadcrumb-nav-list-item"><a href="{{ first_level_url }}">{{ page.great_grand_parent }}</a></li>
    <li class="breadcrumb-nav-list-item"><a href="{{ second_level_url }}">{{ page.grand_parent }}</a></li>
    <li class="breadcrumb-nav-list-item"><a href="{{ third_level_url }}">{{ page.parent }}</a></li>
  
    {% elsif page.grand_parent %}
    <li class="breadcrumb-nav-list-item"><a href="{{ first_level_url }}">{{ page.grand_parent }}</a></li>
    <li class="breadcrumb-nav-list-item"><a href="{{ second_level_url }}">{{ page.parent }}</a></li>
  
    {% else %}
  
  
    <li class="breadcrumb-nav-list-item"><a href="{{ first_level_url }}">{{ page.parent }}</a></li>
     {% endif %}
  
  
     <li class="breadcrumb-nav-list-item"><span>{{ page.title }}</span></li>
    </ol>
    </nav>

        {% endif %}
      {% endunless %}
      <div id="main-content" class="main-content" role="main">
        {% if site.heading_anchors != false %}
          {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg viewBox=\"0 0 16 16\" aria-hidden=\"true\"><use xlink:href=\"#svg-link\"></use></svg>" anchorClass="anchor-heading" anchorAttrs="aria-labelledby=\"%html_id%\"" %}
        {% else %}
          {{ content }}
        {% endif %}

        {% if page.has_children == true and page.has_toc != false %}
          <hr>
          <h2 class="text-delta">Table of contents</h2>
          <ul>
            {%- assign children_list = pages_list | where: "parent", page.title | where: "grand_parent", page.parent -%}
            {% for child in children_list %}
              <li>
                <a href="{{ child.url | absolute_url }}">{{ child.title }}</a>{% if child.summary %} - {{ child.summary }}{% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% capture footer_custom %}
          {%- include footer_custom.html -%}
        {% endcapture %}
        {% if footer_custom != "" or site.last_edit_timestamp or site.gh_edit_link %}
         
            {{ footer_custom }}

            {% if site.last_edit_timestamp or site.gh_edit_link %}
              <div class="d-flex mt-2">
                {% if site.last_edit_timestamp and site.last_edit_time_format and page.last_modified_date %}
                  <p class="text-small text-grey-dk-000 mb-0 mr-2">
                    Page last modified: <span class="d-inline-block">{{ page.last_modified_date | date: site.last_edit_time_format }}</span>.
                  </p>
                {% endif %}
                {% if
                  site.gh_edit_link and
                  site.gh_edit_link_text and
                  site.gh_edit_repository and
                  site.gh_edit_branch and
                  site.gh_edit_view_mode
                %}
                  <p class="text-small text-grey-dk-000 mb-0">
                    <a href="{{ site.gh_edit_repository }}/{{ site.gh_edit_view_mode }}/{{ site.gh_edit_branch }}{% if site.gh_edit_source %}/{{ site.gh_edit_source }}{% endif %}/{{ page.path }}" id="edit-this-page">{{ site.gh_edit_link_text }}</a>
                  </p>
                {% endif %}
              </div>
            {% endif %}
          </footer>
        {% endif %}

      </div>
    </div>

    {% if site.search_enabled != false %}
      {% if site.search.button %}
        <a href="#" id="search-button" class="search-button">
          <svg viewBox="0 0 24 24" class="icon"><use xlink:href="#svg-search"></use></svg>
        </a>
      {% endif %}

      <div class="search-overlay"></div>
    {% endif %}

    
  </div>

  <!-- end main  -->

  {% if page.category != null %}
  <div class="split-hold" >
    <div class="split__bar1" ></div>
    <div class="closeclick closeright" id="right-close"></div>
  </div>
    <div class="right-menu scrollable-container" >
      <div class="scrollable">
        {% include right_nav.html %}
      </div>
  </div>
  {%- endif -%}
</div>





 <!-- footer from footer html -->
 {% include footer.html %}

</body>
</html>
