<!-- Custom HTML site displayed as the Home chapter -->

{% extends "main.html" %}

{% block styles %}
<!-- Include already-configured Styles custom styles -->
{{ super() }}
<!-- Add custom styles -->
<link rel="stylesheet" href="assets/stylesheets/homepage-styles.css">

{% endblock %}


{% block tabs %}
{{ super() }}

<!-- Hero Banner-->
<section class="dx-hero-container">
    <div class="md-grid md-typeset">
        <div class="section-flexbox-row flex-start align-center">
            <div class="dx-hero__content">
                <div class="hero-heading">
                    <!-- <h3>Welcome to the HCL Digital Experience Help Center</h3> -->
                    <h1>Welcome to HCL Volt MX</h1>
                </div>
                <div class="hero-body body-text white">
                    Welcome to the HCL Volt MX product documentation. Here, professional developers, low code developers, enterprise architects, and<br/>digital designers can find information about developing applications on an industry-leading low-code app-dev platform.
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}

    {{ page.content }}

{% endblock %}


