/*<meta />*/

@media only screen and (max-width: 767px)
{
	.toolbar-buttons
	{
		top: 67px;
	}

	.button
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.button.print-button
	{
		display: none;
	}

	.button.remove-highlight-button
	{
		display: none;
	}

	#contentBodyInner
	{
		top: 98px;
	}

	.tree-node .new-indicator
	{
		width: 7px;
		height: 7px;
	}

	#index .tree-node > div
	{
		
	}

	#navigation
	{
		
	}

	.tab
	{
		
	}

	.tab-collapsed .tabs-nav-text
	{
		
	}

	.tabs
	{
		
	}

	.tabs li
	{
		
	}

	.tabs li span
	{
		
	}

	.tabs-nav
	{
		
	}

	.tabs-nav li
	{
		
	}

	.tabs-nav li
	{
		
	}

	.tabs-nav li div span
	{
		
	}

	.tab-icon #TocTab.tabs-nav-inactive .tabs-nav-icon
	{
		background-repeat: no-repeat;
		background-position: 11px center;
		margin: 0;
	}

	.tab-icon #IndexTab.tabs-nav-inactive .tabs-nav-icon
	{
		background-repeat: no-repeat;
		background-position: 11px center;
		margin: 0;
	}

	.tab-icon #GlossaryTab.tabs-nav-inactive .tabs-nav-icon
	{
		background-repeat: no-repeat;
		background-position: 11px center;
		margin: 0;
	}

	.tab-icon #BrowseSequencesTab.tabs-nav-inactive .tabs-nav-icon
	{
		background-repeat: no-repeat;
		background-position: 11px center;
		margin: 0;
	}

	.tab-icon #CommunityTab.tabs-nav-inactive .tabs-nav-icon
	{
		background-repeat: no-repeat;
		background-position: 11px center;
	}

	.tab-icon #SearchTab.tabs-nav-inactive .tabs-nav-icon
	{
		background-repeat: no-repeat;
		background-position: 11px center;
		margin: 0;
	}

	.tab-icon #TocTab.tabs-nav-active .tabs-nav-icon
	{
		background-repeat: no-repeat;
		background-position: 11px center;
	}

	.tab-icon #IndexTab.tabs-nav-active .tabs-nav-icon
	{
		background-repeat: no-repeat;
		background-position: 11px center;
	}

	.tab-icon #GlossaryTab.tabs-nav-active .tabs-nav-icon
	{
		background-repeat: no-repeat;
		background-position: 11px center;
	}

	.tab-icon #BrowseSequencesTab.tabs-nav-active .tabs-nav-icon
	{
		background-repeat: no-repeat;
		background-position: 11px center;
	}

	.tab-icon #CommunityTab.tabs-nav-active .tabs-nav-icon
	{
		background-repeat: no-repeat;
		background-position: 11px center;
	}

	.tab-icon #SearchTab.tabs-nav-active .tabs-nav-icon
	{
		background-repeat: no-repeat;
		background-position: 11px center;
	}

	.tabs-panel
	{
		
	}

	.tabs-panel-content
	{
		
	}

	#search-sidebar
	{
		
	}

	#home
	{
		text-shadow: none;
		-webkit-text-shadow: none;
		-moz-text-shadow: none;
	}

	#home-text
	{
		line-height: 40px;
	}

	#home-icon
	{
		background-repeat: no-repeat;
		background-position: 11px center;
	}

	#responsiveHeader .logo
	{
		background-repeat: no-repeat;
		background-position: center center;
		width: 135px;
	}

	#responsiveHeader .logo > img
	{
		width: 135px;
		height: 43px;
	}

	/* Navigation slide out Styles*/

	#contentBody[role="main"]
	{
		width: 100%;
	}

	.hide-extras.active [role="main"]
	{
		width: 80%;
	}

	.hide-extras.active #navigation[role="complementary"]
	{
		width: 80%;
		display: block;
	}

	.active #contentBody[role="main"]
	{
		margin-right: -80%;
	}

	/*Offcanvas styles for pane position set right*/

	.right-layout .active #contentBody[role="main"]
	{
		margin-right: 80%;
	}

	.non-collapsable
	{
		width: 100%;
	}

	.show-for-xlarge-up
	{
		display: none !important;
	}

	#responsiveHeader
	{
		
	}

	body
	{
		
	}

	#browseSequences.tabs-panel-content
	{
		
	}

	#community.tabs-panel-content
	{
		
	}

	#glossary.tabs-panel-content
	{
		
	}

	#index.tabs-panel-content
	{
		
	}

	#index .tree-node.tree-node-expanded > div
	{
		padding-left: 37px;
	}

	#index .tree-node.tree-node-collapsed > div
	{
		padding-left: 37px;
	}

	#index .tree-node.tree-node-collapsed.tree-node-selected > div
	{
		
	}

	#index .tree-node.tree-node-expanded.tree-node-selected > div
	{
		
	}

	#index .tree-node.tree-node-leaf > div
	{
		
	}

	#index .tree-node.tree-node-leaf.tree-node-selected > div
	{
		
	}

	#search.tabs-panel-content
	{
		
	}

	#toc.tabs-panel-content
	{
		
	}

	.tree-node.tree-node-leaf > div
	{
		
	}

	.tree-node.tree-node-leaf.tree-node-selected > div
	{
		
	}

	.tree-node.tree-node-expanded > div
	{
		
	}

	.tree-node.tree-node-expanded.tree-node-selected > div
	{
		
	}

	.tree-node.tree-node-collapsed.tree-node-selected > div
	{
		
	}

	.tree-node.tree-node-collapsed > div
	{
		
	}

	.tree-node div
	{
		
	}

	.tree-node div .label
	{
		
	}

	.menu-icon a span
	{
		
	}

	.tabs-nav li.tab-collapsed
	{
		
	}

	.tabs-nav li.tabs-nav-active
	{
		
	}

	.tabs-nav li.tabs-nav-active .tabs-nav-text
	{
		
	}

	#show-hide-navigation
	{
		
	}

	.tabs-nav li#BrowseSequencesTab.tabs-nav-active
	{
		
	}

	.tabs-nav li#CommunityTab.tabs-nav-active
	{
		
	}

	.tabs-nav li#GlossaryTab.tabs-nav-active
	{
		
	}

	.tabs-nav li#IndexTab.tabs-nav-active
	{
		
	}

	.tabs-nav li#SearchTab.tabs-nav-active
	{
		
	}

	.tabs-nav li#TocTab.tabs-nav-active
	{
		
	}

	.tabs-nav li.tabs-nav-inactive
	{
		text-shadow: none;
		-webkit-text-shadow: none;
		-moz-text-shadow: none;
	}

	.tabs-nav li.tabs-nav-inactive .tabs-nav-text
	{
		
	}

	.tabs-nav li#BrowseSequencesTab.tabs-nav-inactive
	{
		
	}

	.tabs-nav li#CommunityTab.tabs-nav-inactive
	{
		
	}

	.tabs-nav li#GlossaryTab.tabs-nav-inactive
	{
		
	}

	.tabs-nav li#IndexTab.tabs-nav-inactive
	{
		
	}

	.tabs-nav li#SearchTab.tabs-nav-inactive
	{
		
	}

	.tabs-nav li#TocTab.tabs-nav-inactive
	{
		
	}

	#search-field-sidebar
	{
		
	}

	#responsive-search-index
	{
		
	}

	#responsive-search-glossary
	{
		
	}

	#search-field
	{
		
	}

	.tree-node.tree-node-collapsed.APILevel2 > div
	{
		
	}

	.tree-node.tree-node-collapsed.tree-node-selected.APILevel2 > div
	{
		
	}

	.tree-node.tree-node-expanded.APILevel2 > div
	{
		
	}

	.tree-node.tree-node-expanded.tree-node-selected.APILevel2 > div
	{
		
	}

	.tree-node.tree-node-leaf.APILevel2 > div
	{
		
	}

	.tree-node.tree-node-leaf.tree-node-selected.APILevel2 > div
	{
		
	}

	.tree-node.APILevel2 .new-indicator
	{
		
	}

	.tree-node.tree-node-selected.APILevel2 .new-indicator > div
	{
		
	}

	.web .tree-node.tree-node-expanded.APILevel2 > div:hover
	{
		
	}

	.web .tree-node.tree-node-expanded.tree-node-selected.APILevel2 > div:hover
	{
		
	}

	.web .tree-node.tree-node-collapsed.APILevel2 > div:hover
	{
		
	}

	.web .tree-node.tree-node-collapsed.tree-node-selected.APILevel2 > div:hover
	{
		
	}

	.web .tree-node.tree-node-leaf.APILevel2 > div:hover
	{
		
	}

	.web .tree-node.tree-node-leaf.tree-node-selected.APILevel2 > div:hover
	{
		
	}

	.web .tree-node.APILevel2 .new-indicator > div:hover
	{
		
	}

	.web .tree-node.tree-node-selected.APILevel2 .new-indicator > div:hover
	{
		
	}

	.tree-node.tree-node-collapsed.APIs > div
	{
		
	}

	.tree-node.tree-node-collapsed.tree-node-selected.APIs > div
	{
		
	}

	.tree-node.tree-node-expanded.APIs > div
	{
		
	}

	.tree-node.tree-node-expanded.tree-node-selected.APIs > div
	{
		
	}

	.tree-node.tree-node-leaf.APIs > div
	{
		
	}

	.tree-node.tree-node-leaf.tree-node-selected.APIs > div
	{
		
	}

	.tree-node.APIs .new-indicator
	{
		
	}

	.tree-node.tree-node-selected.APIs .new-indicator > div
	{
		
	}

	.web .tree-node.tree-node-expanded.APIs > div:hover
	{
		
	}

	.web .tree-node.tree-node-expanded.tree-node-selected.APIs > div:hover
	{
		
	}

	.web .tree-node.tree-node-collapsed.APIs > div:hover
	{
		
	}

	.web .tree-node.tree-node-collapsed.tree-node-selected.APIs > div:hover
	{
		
	}

	.web .tree-node.tree-node-leaf.APIs > div:hover
	{
		
	}

	.web .tree-node.tree-node-leaf.tree-node-selected.APIs > div:hover
	{
		
	}

	.web .tree-node.APIs .new-indicator > div:hover
	{
		
	}

	.web .tree-node.tree-node-selected.APIs .new-indicator > div:hover
	{
		
	}

	.tree-node.tree-node-collapsed.CommonProperty > div
	{
		
	}

	.tree-node.tree-node-collapsed.tree-node-selected.CommonProperty > div
	{
		
	}

	.tree-node.tree-node-expanded.CommonProperty > div
	{
		
	}

	.tree-node.tree-node-expanded.tree-node-selected.CommonProperty > div
	{
		
	}

	.tree-node.tree-node-leaf.CommonProperty > div
	{
		
	}

	.tree-node.tree-node-leaf.tree-node-selected.CommonProperty > div
	{
		
	}

	.tree-node.CommonProperty .new-indicator
	{
		
	}

	.tree-node.tree-node-selected.CommonProperty .new-indicator > div
	{
		
	}

	.web .tree-node.tree-node-expanded.CommonProperty > div:hover
	{
		
	}

	.web .tree-node.tree-node-expanded.tree-node-selected.CommonProperty > div:hover
	{
		
	}

	.web .tree-node.tree-node-collapsed.CommonProperty > div:hover
	{
		
	}

	.web .tree-node.tree-node-collapsed.tree-node-selected.CommonProperty > div:hover
	{
		
	}

	.web .tree-node.tree-node-leaf.CommonProperty > div:hover
	{
		
	}

	.web .tree-node.tree-node-leaf.tree-node-selected.CommonProperty > div:hover
	{
		
	}

	.web .tree-node.CommonProperty .new-indicator > div:hover
	{
		
	}

	.web .tree-node.tree-node-selected.CommonProperty .new-indicator > div:hover
	{
		
	}

	.tree-node.tree-node-collapsed.Event > div
	{
		
	}

	.tree-node.tree-node-collapsed.tree-node-selected.Event > div
	{
		
	}

	.tree-node.tree-node-expanded.Event > div
	{
		
	}

	.tree-node.tree-node-expanded.tree-node-selected.Event > div
	{
		
	}

	.tree-node.tree-node-leaf.Event > div
	{
		
	}

	.tree-node.tree-node-leaf.tree-node-selected.Event > div
	{
		
	}

	.tree-node.Event .new-indicator
	{
		
	}

	.tree-node.tree-node-selected.Event .new-indicator > div
	{
		
	}

	.web .tree-node.tree-node-expanded.Event > div:hover
	{
		
	}

	.web .tree-node.tree-node-expanded.tree-node-selected.Event > div:hover
	{
		
	}

	.web .tree-node.tree-node-collapsed.Event > div:hover
	{
		
	}

	.web .tree-node.tree-node-collapsed.tree-node-selected.Event > div:hover
	{
		
	}

	.web .tree-node.tree-node-leaf.Event > div:hover
	{
		
	}

	.web .tree-node.tree-node-leaf.tree-node-selected.Event > div:hover
	{
		
	}

	.web .tree-node.Event .new-indicator > div:hover
	{
		
	}

	.web .tree-node.tree-node-selected.Event .new-indicator > div:hover
	{
		
	}

	.tree-node.tree-node-collapsed.General > div
	{
		
	}

	.tree-node.tree-node-collapsed.tree-node-selected.General > div
	{
		
	}

	.tree-node.tree-node-expanded.General > div
	{
		
	}

	.tree-node.tree-node-expanded.tree-node-selected.General > div
	{
		
	}

	.tree-node.tree-node-leaf.General > div
	{
		
	}

	.tree-node.tree-node-leaf.tree-node-selected.General > div
	{
		
	}

	.tree-node.General .new-indicator
	{
		
	}

	.tree-node.tree-node-selected.General .new-indicator > div
	{
		
	}

	.web .tree-node.tree-node-expanded.General > div:hover
	{
		
	}

	.web .tree-node.tree-node-expanded.tree-node-selected.General > div:hover
	{
		
	}

	.web .tree-node.tree-node-collapsed.General > div:hover
	{
		
	}

	.web .tree-node.tree-node-collapsed.tree-node-selected.General > div:hover
	{
		
	}

	.web .tree-node.tree-node-leaf.General > div:hover
	{
		
	}

	.web .tree-node.tree-node-leaf.tree-node-selected.General > div:hover
	{
		
	}

	.web .tree-node.General .new-indicator > div:hover
	{
		
	}

	.web .tree-node.tree-node-selected.General .new-indicator > div:hover
	{
		
	}

	.tree-node.tree-node-collapsed.GenericBlue > div
	{
		
	}

	.tree-node.tree-node-collapsed.tree-node-selected.GenericBlue > div
	{
		
	}

	.tree-node.tree-node-expanded.GenericBlue > div
	{
		
	}

	.tree-node.tree-node-expanded.tree-node-selected.GenericBlue > div
	{
		
	}

	.tree-node.tree-node-leaf.GenericBlue > div
	{
		
	}

	.tree-node.tree-node-leaf.tree-node-selected.GenericBlue > div
	{
		
	}

	.tree-node.GenericBlue .new-indicator
	{
		
	}

	.tree-node.tree-node-selected.GenericBlue .new-indicator > div
	{
		
	}

	.web .tree-node.tree-node-expanded.GenericBlue > div:hover
	{
		
	}

	.web .tree-node.tree-node-expanded.tree-node-selected.GenericBlue > div:hover
	{
		
	}

	.web .tree-node.tree-node-collapsed.GenericBlue > div:hover
	{
		
	}

	.web .tree-node.tree-node-collapsed.tree-node-selected.GenericBlue > div:hover
	{
		
	}

	.web .tree-node.tree-node-leaf.GenericBlue > div:hover
	{
		
	}

	.web .tree-node.tree-node-leaf.tree-node-selected.GenericBlue > div:hover
	{
		
	}

	.web .tree-node.GenericBlue .new-indicator > div:hover
	{
		
	}

	.web .tree-node.tree-node-selected.GenericBlue .new-indicator > div:hover
	{
		
	}

	.tree-node.tree-node-collapsed.VoltMXIcon > div
	{
		
	}

	.tree-node.tree-node-collapsed.tree-node-selected.VoltMXIcon > div
	{
		
	}

	.tree-node.tree-node-expanded.VoltMXIcon > div
	{
		
	}

	.tree-node.tree-node-expanded.tree-node-selected.VoltMXIcon > div
	{
		
	}

	.tree-node.tree-node-leaf.VoltMXIcon > div
	{
		
	}

	.tree-node.tree-node-leaf.tree-node-selected.VoltMXIcon > div
	{
		
	}

	.tree-node.VoltMXIcon .new-indicator
	{
		
	}

	.tree-node.tree-node-selected.VoltMXIcon .new-indicator > div
	{
		
	}

	.web .tree-node.tree-node-expanded.VoltMXIcon > div:hover
	{
		
	}

	.web .tree-node.tree-node-expanded.tree-node-selected.VoltMXIcon > div:hover
	{
		
	}

	.web .tree-node.tree-node-collapsed.VoltMXIcon > div:hover
	{
		
	}

	.web .tree-node.tree-node-collapsed.tree-node-selected.VoltMXIcon > div:hover
	{
		
	}

	.web .tree-node.tree-node-leaf.VoltMXIcon > div:hover
	{
		
	}

	.web .tree-node.tree-node-leaf.tree-node-selected.VoltMXIcon > div:hover
	{
		
	}

	.web .tree-node.VoltMXIcon .new-indicator > div:hover
	{
		
	}

	.web .tree-node.tree-node-selected.VoltMXIcon .new-indicator > div:hover
	{
		
	}

	.tree-node.tree-node-collapsed.Methods > div
	{
		
	}

	.tree-node.tree-node-collapsed.tree-node-selected.Methods > div
	{
		
	}

	.tree-node.tree-node-expanded.Methods > div
	{
		
	}

	.tree-node.tree-node-expanded.tree-node-selected.Methods > div
	{
		
	}

	.tree-node.tree-node-leaf.Methods > div
	{
		
	}

	.tree-node.tree-node-leaf.tree-node-selected.Methods > div
	{
		
	}

	.tree-node.Methods .new-indicator
	{
		
	}

	.tree-node.tree-node-selected.Methods .new-indicator > div
	{
		
	}

	.web .tree-node.tree-node-expanded.Methods > div:hover
	{
		
	}

	.web .tree-node.tree-node-expanded.tree-node-selected.Methods > div:hover
	{
		
	}

	.web .tree-node.tree-node-collapsed.Methods > div:hover
	{
		
	}

	.web .tree-node.tree-node-collapsed.tree-node-selected.Methods > div:hover
	{
		
	}

	.web .tree-node.tree-node-leaf.Methods > div:hover
	{
		
	}

	.web .tree-node.tree-node-leaf.tree-node-selected.Methods > div:hover
	{
		
	}

	.web .tree-node.Methods .new-indicator > div:hover
	{
		
	}

	.web .tree-node.tree-node-selected.Methods .new-indicator > div:hover
	{
		
	}

	.tree-node.tree-node-collapsed.PSP > div
	{
		
	}

	.tree-node.tree-node-collapsed.tree-node-selected.PSP > div
	{
		
	}

	.tree-node.tree-node-expanded.PSP > div
	{
		
	}

	.tree-node.tree-node-expanded.tree-node-selected.PSP > div
	{
		
	}

	.tree-node.tree-node-leaf.PSP > div
	{
		
	}

	.tree-node.tree-node-leaf.tree-node-selected.PSP > div
	{
		
	}

	.tree-node.PSP .new-indicator
	{
		
	}

	.tree-node.tree-node-selected.PSP .new-indicator > div
	{
		
	}

	.web .tree-node.tree-node-expanded.PSP > div:hover
	{
		
	}

	.web .tree-node.tree-node-expanded.tree-node-selected.PSP > div:hover
	{
		
	}

	.web .tree-node.tree-node-collapsed.PSP > div:hover
	{
		
	}

	.web .tree-node.tree-node-collapsed.tree-node-selected.PSP > div:hover
	{
		
	}

	.web .tree-node.tree-node-leaf.PSP > div:hover
	{
		
	}

	.web .tree-node.tree-node-leaf.tree-node-selected.PSP > div:hover
	{
		
	}

	.web .tree-node.PSP .new-indicator > div:hover
	{
		
	}

	.web .tree-node.tree-node-selected.PSP .new-indicator > div:hover
	{
		
	}

	.tree-node.tree-node-collapsed.Topic > div
	{
		
	}

	.tree-node.tree-node-collapsed.tree-node-selected.Topic > div
	{
		
	}

	.tree-node.tree-node-expanded.Topic > div
	{
		
	}

	.tree-node.tree-node-expanded.tree-node-selected.Topic > div
	{
		
	}

	.tree-node.tree-node-leaf.Topic > div
	{
		
	}

	.tree-node.tree-node-leaf.tree-node-selected.Topic > div
	{
		
	}

	.tree-node.Topic .new-indicator
	{
		
	}

	.tree-node.tree-node-selected.Topic .new-indicator > div
	{
		
	}

	.web .tree-node.tree-node-expanded.Topic > div:hover
	{
		
	}

	.web .tree-node.tree-node-expanded.tree-node-selected.Topic > div:hover
	{
		
	}

	.web .tree-node.tree-node-collapsed.Topic > div:hover
	{
		
	}

	.web .tree-node.tree-node-collapsed.tree-node-selected.Topic > div:hover
	{
		
	}

	.web .tree-node.tree-node-leaf.Topic > div:hover
	{
		
	}

	.web .tree-node.tree-node-leaf.tree-node-selected.Topic > div:hover
	{
		
	}

	.web .tree-node.Topic .new-indicator > div:hover
	{
		
	}

	.web .tree-node.tree-node-selected.Topic .new-indicator > div:hover
	{
		
	}

	.tree-node.tree-node-collapsed.Widget > div
	{
		
	}

	.tree-node.tree-node-collapsed.tree-node-selected.Widget > div
	{
		
	}

	.tree-node.tree-node-expanded.Widget > div
	{
		
	}

	.tree-node.tree-node-expanded.tree-node-selected.Widget > div
	{
		
	}

	.tree-node.tree-node-leaf.Widget > div
	{
		
	}

	.tree-node.tree-node-leaf.tree-node-selected.Widget > div
	{
		
	}

	.tree-node.Widget .new-indicator
	{
		
	}

	.tree-node.tree-node-selected.Widget .new-indicator > div
	{
		
	}

	.web .tree-node.tree-node-expanded.Widget > div:hover
	{
		
	}

	.web .tree-node.tree-node-expanded.tree-node-selected.Widget > div:hover
	{
		
	}

	.web .tree-node.tree-node-collapsed.Widget > div:hover
	{
		
	}

	.web .tree-node.tree-node-collapsed.tree-node-selected.Widget > div:hover
	{
		
	}

	.web .tree-node.tree-node-leaf.Widget > div:hover
	{
		
	}

	.web .tree-node.tree-node-leaf.tree-node-selected.Widget > div:hover
	{
		
	}

	.web .tree-node.Widget .new-indicator > div:hover
	{
		
	}

	.web .tree-node.tree-node-selected.Widget .new-indicator > div:hover
	{
		
	}

	.button.collapse-all-button
	{
		
	}

	.button.current-topic-index-button
	{
		
	}

	.button.docname-button
	{
		background: transparent url('Images/Docname.png') no-repeat center center;
		background: url('Images/Docname.png') no-repeat center center, -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/Docname.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: url('Images/Docname.png') no-repeat center center, -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/Docname.png') no-repeat center center, -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/Docname.png') no-repeat center center, -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/Docname.png') no-repeat center center, linear-gradient(top, transparent 0%,transparent 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/Docname.png') no-repeat center center, linear-gradient(transparent, transparent);
	}

	.button.docversion-button
	{
		background: transparent url('Images/DocversionV8SP1.png') no-repeat center center;
		background: url('Images/DocversionV8SP1.png') no-repeat center center, -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/DocversionV8SP1.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: url('Images/DocversionV8SP1.png') no-repeat center center, -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/DocversionV8SP1.png') no-repeat center center, -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/DocversionV8SP1.png') no-repeat center center, -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/DocversionV8SP1.png') no-repeat center center, linear-gradient(top, transparent 0%,transparent 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/DocversionV8SP1.png') no-repeat center center, linear-gradient(transparent, transparent);
	}

	.button.edit-user-profile-button
	{
		
	}

	.button.expand-all-button
	{
		
	}

	.button.login-button
	{
		
	}

	.button.next-topic-button
	{
		
	}

	.button.previous-topic-button
	{
		
	}

	.button.topic-ratings-button
	{
		
	}

	.button.topic-ratings-empty-button
	{
		
	}

	.button-separator
	{
		
	}

	#contentBody
	{
		background: #00a3d9;
		background: -moz-linear-gradient(top, #00a3d9 0%, #00a3d9 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a3d9), color-stop(100%,#00a3d9));
		background: -webkit-linear-gradient(top, #00a3d9 0%, #00a3d9 100%);
		background: -o-linear-gradient(top, #00a3d9 0%,#00a3d9 100%);
		background: -ms-linear-gradient(top, #00a3d9 0%,#00a3d9 100%);
		background: linear-gradient(top, #00a3d9 0%,#00a3d9 100%);
		-pie-background: linear-gradient(#00a3d9, #00a3d9);
	}
}

