html, body {height: 100%; background-color: #fafafa;}
a {color: #4e94f5;}
.site-header, .main-header {background-color: #12191f;}
.site-title:hover {background-image: none;}

.main {background-color: #fafafa; height: 100%; }
.main-content-wrap {
    box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.2);
-webkit-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.2);
min-height: calc(100% - 130px);
}
.page-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    padding-top: 20px;
    padding-right: 14rem;
    height: auto;
    margin-top: -10px;
}
.page-nav li {display: inline; margin-right: 20px;}
.page-nav li a {background-image: none; color: #fff; height: 100%; display: inline-block;}
.page-nav li a:hover {background-image: none; opacity: 0.7;}
.page-nav li a.active, .sub-nav li a.active {background-color: #f1f1f1; border-bottom-width: 2px;}
.top-header {position: absolute; z-index: 999; width: 100%;}
.side-bar {background-color: transparent; border: none; margin-top: 50px;}
.nav-list {background-color: #f1f1f1;}
.nav-list .nav-list-item .nav-list-link.active {background-image: none;}
.search-label .search-icon {color: #bababa;}
.search-input:focus + .search-label .search-icon {color: rgb(196, 196, 196);}
.nav-list a, .nav-list .nav-list-item .nav-list-expander {color: #000000;}
.site-logo {
  height: 36px; width: 185px; background-size: 185px 36px;
}
.search-results {left: auto; right: 10px;}

.sub-nav {margin: 0; padding: 0; margin-left: 10px; padding-top: 13px; height: 100%; text-align: center;}
.sub-nav li {list-style: none; display: inline-block;margin-right: 11px;}
.sub-nav li a {text-decoration: none; color: #433855; height: 100%; display: inline-block; background-image: none;padding-bottom: 12px; font-size: 0.85rem;}
.sub-nav li a:hover {text-decoration: none; background-image: none;color: #666;}
footer {text-align: center; font-size: 14px; color: #878fa1;}
footer .foot-nav a, footer .foot-nav a:hover {text-decoration: none; background-image: none;}
footer .foot-nav a:hover {color: #333;}
.social-nav {margin: 0; padding: 0; margin-top: 20px;}
.social-nav li {list-style: none; display: inline-block; margin: 0 3px}
.social-nav li a {
    display: inline-block; 
    height: 37px; 
    width: 37px; 
    background: url('../../assets/images/facebookIcon.svg') no-repeat center center;
    text-indent: -9999px;
}
.social-nav li a.facebook {background-image: url('../../assets/images/facebookIcon.svg');}
.social-nav li a.linkedin {background-image: url('../../assets/images/linkedinIcon.svg');}
.social-nav li a.twitter {background-image: url('../../assets/images/twitter.svg');}
.social-nav li a.youtube {background-image: url('../../assets/images/youtube.svg');}
.social-nav li a.glassdoor {background-image: url('../../assets/images/glassdoor.svg');}
.main-content .anchor-heading svg {color: #4e94f5;}

/* for youtube videos */
.youtube-wrapper {
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 56.25%;
}
.youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  height: 500px;
  border: 0;
}

/* custom scroll bars */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
::selection {
  background-color: #b5a4fb;
}

.main-header {display: block;}
.page-nav {display: none;}
.sub-nav-wrap .site-button {display: block; background-color: #eaeaea; color: #333;font-size: 16px; padding: 10px; height: 48px;}
.carat-topic {width: 28px; transform: rotate(90deg); padding-left: 10px; float: right;}
.icon {color: #fff;}
.page-nav.nav-open {
  display: block;
  line-height: 2.5;
  padding: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.49);
-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.49);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.49);
}
.page-nav.nav-open li {
  display: block;
  width: 100%;
}
.page-nav.nav-open li a {
  color: #433855;
  width: 100%;
  padding: 0 15px;
}
.site-button:hover {background-image: none;}
.breadcrumb-nav-list-item::after {content: '>';}
/* .breadcrumb-nav-list li {display: none;}
.breadcrumb-nav-list li:nth-last-child(2) {display: block;} */
.main-content ul > li::before {position: static;}
.right-menu {position: static;}
.category-wrap {display: flex;}
.category-wrap .site-button {flex-grow: 1;}
.category-wrap .sub-site-button {width: 45px; background-color: #bcbcbc; padding: 10px;}
.right-menu > .site-nav {position: absolute; top: 220px; z-index: 11;}
.sub-nav a.current {
  border-bottom: 3px #d694f9 solid;
}
.search-active .search {top: 60px;}
.right-menu .site-nav.nav-open, .side-bar .site-nav.nav-open {border-bottom: 2px #333 solid;}
blockquote {
  background-color: #f1f1f1;
    padding: 1px 20px;
    margin: 10px 0;
    border: 1px #666 solid;
    border-left: 6px #d694f9 solid;
}
figure.highlight, code {
background-color: #eaebef;
}

@media (min-width: 66.5rem) {
   .main {
    margin-left: calc( (100% - 1064px) / 2 + 264px);
} 
.side-bar {
    width: 264px;
    min-width: 264px;
    margin-top: 50px;
}
.main-content img {max-width: 800px !important;}

}
.search {top: 60px;}
.search-input-wrap {right: 0; max-width: 100%;}
.search-input {height: 100%; width: 100%; top: 0; border-radius: 0;}
.sub-nav-wrap {margin-top: 55px;}

@media (min-width: 50rem) {
    .main {
    position: relative;
    top: 55px;
    max-width: 100%;
    margin-left: 264px;
    margin-right: 275px;
    z-index: 1;
}
.main-content-wrap {height: calc(100% - 170px); overflow-y: auto;}
.side-bar {position: absolute; margin-top: 0px; height: calc(100% - 132px); overflow-y: auto; top: 100px;}
.right-menu {position: absolute; right: 20px; top: 100px; /* height: calc(100% - 170px); overflow-y: auto;*/}
.site-nav {padding-top: 30px; z-index: 12;}
.search-active .search-input {padding-left: 15px; }
.sub-nav li {margin-right: 50px;}
.page-nav {display: block; height: 100%; margin: 0;}
.search {top: 0px;}
.search-input-wrap {right: 0px; max-width: 230px;}
.search-input {padding: 12px 15px; height: 30px; top: 15px; border-radius: 20px; width: auto;}
.search-label {padding-left: 0; padding-right: 1rem; right: 0;}
.sub-nav {margin-left: 20px; padding-top: 11px; text-align: left;}
.sub-nav-wrap { 
  height: 54px; 
  top: 55px;
  background-color: #fff;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.28);
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.28);
  position: relative;
  z-index: 2;
  margin-top: 0;
}
.sub-nav-wrap .site-button {display: none;}
.sub-nav li a {font-size: 14px; padding-bottom: 12px;}
.page-nav li a.active, .sub-nav li a.active {border-bottom: 6px #d694f9 solid; background-color: transparent;}
.sub-nav a[href*="/articles/"], .sub-nav a[href*="/tutorials/"], .sub-nav a[href*="/documentation/"], .sub-nav a[href*="/getting-started/"] {border-bottom-width: 6px !important;}
.nav-list {background-color: transparent;}
.top-header {width: auto;}
.site-title {padding-left: 1.5rem; padding-right: 1.5rem;}
.category-wrap .sub-site-button {display: none;}
.right-menu > .site-nav {position: static;}
.search-label .search-icon {color: #fff;}
.search-active .search {top: 0px;}
.main-header {position: absolute; width: 100%; z-index: 9;}
.right-menu .site-nav.nav-open, .side-bar .site-nav.nav-open {border-bottom: none;}
.nav-list .nav-list-item .nav-list-link {padding-top: 0; padding-bottom: 0;}
}

