<div id="main-header" class="main-header">
  
  {% if site.search_enabled != false %}
  {% include header_custom.html %}
    <div class="search">
   
      <div class="search-input-wrap">
        <input type="text" id="search-input" class="search-input" tabindex="0" placeholder="search resources..." aria-label="Search {{ site.title }}" autocomplete="off">
        <label for="search-input" class="search-label" id="searchButton"><svg viewBox="0 0 24 24" class="search-icon"><use xlink:href="#svg-search"></use></svg></label>
                </div>
                       
      <div id="search-results" class="search-results"></div>

      
    </div>
  {% endif %}

  <!-- delete below styles if you uncomment all page-nav links -->
  <style>
    @media (min-width: 50rem){
      .page-nav {right: 400px;top: 0;}
      .search-input-wrap {max-width: 400px;}
    }

  </style>

<!-- below are page-nav links - delete above styles if uncommenting -->
  <ul class="page-nav" id="page-nav">
   <!-- <li><a href="#">Community</a></li> -->
   <li><a href="https://volt-mx.hcltechsw.com/" >Ideas</a></li>
   <li><a href="#" class="active">Learn</a></li>
   <!-- <li><a href="#">Releases</a></li>
   <li><a href="#">Training</a></li>
   <li><a href="#">Ideas</a></li>
   <li><a href="#">Marketplace</a></li>
   <li><a href="#">Login</a></li> -->
 </ul>
 

 
</div>
<script>
  const pageNav = document.getElementById('page-nav');
   const mainHeader = document.getElementById('main-header');
   const mainmenuButton = document.getElementById('mainmenu-button');
 (function(){
  
  mainmenuButton.addEventListener('click', function(){
    pageNav.classList.toggle('nav-open');
});
})();

</script>