<nav role="navigation" aria-label="Main" id="sub-site-nav" class="site-nav" >
<ul class="nav-list">
  {% for item in site.data[page.category][page.category] %}

    <li class="nav-list-item">
    {%- if item.subnav -%}
      <a href="#" class="nav-list-expander"><svg viewBox="0 0 24 24">
        <use xlink:href="#svg-arrow-right"></use>
        </svg>
      </a>
    {%- endif -%}
    <a href="{{ item.url | absolute_url }}" class="nav-list-link{% if page.url == item.url %} active{% endif %}">{{ item.title }}</a>
  
      {% if item.subnav %}
      {%- assign children_list = item.subnav -%}
      <ul class="nav-list ">
        {%- for child in children_list -%}
        <li class="nav-list-item">
        {%- if child.subnav -%}
          <a href="#" class="nav-list-expander"><svg viewBox="0 0 24 24">
          <use xlink:href="#svg-arrow-right"></use>
          </svg></a>
        {%- endif -%}

          <a href="{{ child.url | absolute_url }}" class="nav-list-link{% if page.url == child.url %} active{% endif %}">{{ child.title }}</a>

  {% if child.subnav %}
  {%- assign grand_children_list = child.subnav -%}
  <ul class="nav-list ">
    {%- for grand_child in grand_children_list -%}
   <li class="nav-list-item">
    {%- if grand_child.subnav -%}
    <a href="#" class="nav-list-expander"><svg viewBox="0 0 24 24">
      <use xlink:href="#svg-arrow-right"></use>
      </svg>
    </a>
  {%- endif -%}
    <a href="{{ grand_child.url | absolute_url }}"
    class="nav-list-link{% if page.url == grand_child.url %} active{% endif %}">{{ grand_child.title }}</a>

    {% if grand_child.subnav %}
    {%- assign great_grand_children_list = grand_child.subnav -%}
    <ul class="nav-list ">
      {%- for great_grand_child in great_grand_children_list -%}
     <li class="nav-list-item">
      {%- if great_grand_child.subnav -%}
      <a href="#" class="nav-list-expander"><svg viewBox="0 0 24 24">
        <use xlink:href="#svg-arrow-right"></use>
        </svg>
      </a>
    {%- endif -%}
      <a href="{{ great_grand_child.url | absolute_url }}"
      class="nav-list-link{% if page.url == great_grand_child.url %} active{% endif %}">{{ great_grand_child.title }}</a>

      {% if great_grand_child.subnav %}
      {%- assign great_great_grand_children_list = great_grand_child.subnav -%}
      <ul class="nav-list ">
        {%- for great_great_grand_child in great_great_grand_children_list -%}
       <li class="nav-list-item">
        <a href="{{ great_great_grand_child.url | absolute_url }}"
        class="nav-list-link{% if page.url == great_great_grand_child.url %} active{% endif %}">{{ great_great_grand_child.title }}</a>
  
        
  
       </li>
    
        {% endfor %}
    
        </ul>
      
      {% endif %}

     </li>
  
      {% endfor %}
  
      </ul>
    
    {% endif %}

   </li>

    {% endfor %}

    </ul>
  
  {% endif %}
 </li>
  {% endfor %}

</ul>

{% endif %}
</li>
{% endfor %}
</ul>

</nav>

