<div class="sub-nav-wrap" id="myDIV">
    <ul class="sub-nav">
        <li class="home-link">
            <a href="{{ '/' | relative_url }}"  class="sub-link ">Home</a>
        </li>
        <!-- <li>
            <a href="{{ '/docs/getting-started/' | relative_url }}"  class="sub-link">Getting Started</a>
        </li> -->
        <li>
            <a href="{{ '/docs/tutorials/' | relative_url }}" class="sub-link ">Tutorials</a>
        </li>
        <li>
            <a href="{{ '/docs/documentation/' | relative_url }}" class="sub-link" id="docLink">Documentation</a>
        </li>
        <li>
            <!-- <a href="{{ '/docs/articles/' | relative_url }}" title="test" class="sub-link">Articles</a> -->
            <a href="https://support.hcltechsw.com/csm?id=kb_search&spa=1&kb_category=db382ff1db631c14a45ad9fcd3961936" title="Articles" class="sub-link">Articles</a>
        </li>
    </ul>

    <div class="category-wrap">
    <a href="#" id="menu-button" class="site-button">
        <!-- <svg viewBox="0 0 24 24" class="icon"><use xlink:href="#svg-menu"></use></svg> -->
        select a topic <svg viewBox="0 0 24 24" class="carat-topic"><use xlink:href="#svg-arrow-right"></use></svg>
      </a>
      {% if page.category != null %}
          <a href="#" id="sub-menu-button" class="sub-site-button">
             <svg viewBox="0 0 24 24" class="icon"><use xlink:href="#svg-menu"></use></svg>
          </a>
          {%- endif -%}
      </div>    
</div>



{%- unless page.title == 'Main Home' -%}
<style>
    @media (min-width: 50rem) {
    .content-wrap {top: 134px; height: calc(100% - 185px);}
    }   
</style>
<div class="head-ribbon">
    Kony Quantum is now HCL Volt MX. See <a href="#" class="revisedTermsBtn">Revised Terminology.</a>  
</div>
{%- endunless -%}
{% if page.title == 'Main Home' %}
<style>
    @media (min-width: 50rem) {
  .content-wrap {top: 435px !important; height: calc(100% - 465px);}
  .main-content {text-align: center;
    max-width: 700px;
    margin: 0 auto;}
  }
  .anchor-heading {display: none !important;}
</style>
<div class="homepage">
    <div class="hero-content">
        <h1>HCL Volt MX</h1>
<h2>Beautiful apps. Transformation delivered.</h2>
<p>
    Kony Quantum is now HCL Volt MX. See <a href="#" class="revisedTermsBtn">Revised Terminology</a> 
</p> 
<a href="https://leap.hcltechsw.com/apps/anon/org/app/b816322b-f897-4404-8495-928831a2cf9b/launch/index.html?form=F_Form1" target="_blank" class="banner-btn" >FREE TRIAL</a>

    </div>
</div>
{%- endif -%}
